/*screen*/
.screen{background:#fff;position:relative;width: 1200px;margin: auto;}
ul.screen>li{border-bottom:1px dotted #E8E5F1;min-height:59px;width:940px;padding-right:40px;zoom:1;position:relative;}
ul.screen>li:after{
    content: '';
    display: block;
    clear: both;
}
ul.screen>li dt{width:110px;line-height:26px;padding:18px 0;text-align:center;background:#f5f7fa;float:left;font-size:14px;color:#878787;}
ul.screen>li dt h2{width:110px;line-height:26px;text-align:center;font-size:14px;color:#888888;height:26px;font-weight:normal;}
ul.screen>li.industry_sort dt h2{
    padding-bottom: 52px;
}

ul.screen>li dd{line-height:25px;padding:17px 0;float:right;width:829px;}
ul.screen>li dd a{font-size:14px;color:#888888;padding:0 16px;display: inline-block;float: left;}
ul.screen>li dd a:hover,ul.screen>li dd a.on{color:#4e628f;}
ul.screen>li.more dd{padding:7px 0;line-height:22px;}
.screen .result .dt{background:none;line-height:26px;padding:17px 0 17px 17px;text-align:center;float:left;font-size:14px;color:#888888;}
.screen .result .dd a{display:block;float:left;border:1px solid #4e628f;color:#4e628f;font-size:14px;height:28px;line-height:28px;margin:15px 10px;padding:0 20px;font-family:arial;position:relative;overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;}
.screen .result .dd a i{display:block;width:12px;height:11px;position:absolute;position:absolute;right:-1px;top:-1px;background:#4E628F url('https://i.imgur.com/2VdxA4M.png') no-repeat center;}

/* 鏂板鏇村 */
ul.screen>li dd:after{
    content: '';
    display: block;
    clear: both;
}
ul.screen>li dd a.more{
    /* float: right; */
    display: inline-block;
    width: 58px;
    height: 22px;
    line-height: 20px;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    right: -82px;
    border: 1px solid #e2e2e2;
    padding:0 0 0 9px;
    background: url('../images/business_list/icon6.png') no-repeat right 7px center;
    font-size: 12px;

}
/* 鏂板鏈嶅姟鍩庡競鐨勭‘瀹氭寜閽�  */
.service_city_input{
    display: inline-block;
    width: 194px;
    height: 28px;
    font-size: 0;
    position: relative;
    right: -326px;
}
.service_city_input input{
    width: 141px;
    height: 28px;
    border: 1px solid #e3e3e3;
    border-right: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 6px;
}
.service_city_input .service_btn{
    width: 48px;
    height: 28px;
    background: #649be8;
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 0;
}
.service_city_input a.service_btn:hover{
    color: #fff;
    background: #FF902A;
}





.pricediy{width:228px;height:22px;float:left;position:relative;margin-top:2px;right: -30px;}
.pricediy .input{border:1px solid #EAEAEA;height:20px;width:50px;padding:0 3px;font-size:12px;font-family:arial;position:absolute;top:0;}
.pricediy span{border: none;width: 40px;height: 22px;line-height:22px;color: white;background:#5377C1;font-size:12px;display:block;text-align:center;float:left;position:absolute;cursor:pointer;}
.pricediy span:hover{opacity: .8}
.pricediy .p1{left:0;}
.pricediy .p2{left:70px;}
.pricediy .p3{right:0;background: #4e628f;}
.pricediy:after {content: '';position: absolute;right:140px;top:10.5px;width:4px;height: 1px;background-color: #C4D0EA;border-color:#ccc;}
ul.screen>li.screen_right{width:220px;height:420px;overflow:hidden;right:0;bottom:0px;position:absolute;background:url(../images/business_list/s1_bg1.png) no-repeat 0 0;padding:0;}
ul.screen>li.screen_right .p1{opacity: .3;filter:alpha(opacity=30);color:#CEF5FF;text-align:center;font-family:arial;font-size:14px;text-transform:uppercase;color:#ffffff;padding-top:22px;}
ul.screen>li.screen_right .p2{width:184px;margin:0 auto;padding:6px 0;text-align: center;}
ul.screen>li.screen_right .p3{opacity: .3;filter:alpha(opacity=30);color:#CEF5FF;text-align:center;font-family:arial;font-size:14px;text-transform:uppercase;color:#ffffff;}
ul.screen>li.screen_right .p4{display:block;width:120px;height:30px;background:url('../images/business_list/icon9.png') no-repeat center;line-height:30px;text-align:center;color:#fff;font-size:14px;border-radius:30px;margin:0 auto;margin-top:13px;}
ul.screen>li.screen_right .p4:hover{background:#5d8cd3;border-color:#5d8cd3;-webkit-box-shadow:0 0 2px #666;box-shadow:0 0 2px #666;color:#fff;}
ul.screen>li.screen_right_1{height:166px;}
ul.screen>li .screen_right_2{width:180px;margin-left:30px;height: 260px;
    overflow: hidden;}
ul.screen>li .screen_right_2 h2{margin-top: 24px;height:40px;color:#fff;font-weight:normal;line-height:40px;font-size:16px;position:relative;}
ul.screen>li .screen_right_2 h2:before {content: '';position: absolute;left:-15px;top:16.5px;width:7px;height: 7px;background:url('../images/business_list/icon10.png') no-repeat center;}
ul.screen>li .screen_right_2 h2:after {content: '';position: absolute;right:0px;top:23px;width:8px;height:4px;background:url('../images/business_list/icon11.png') no-repeat center;}
ul.screen>li .screen_right_2 .bd{margin-left: -15px;}
ul.screen>li .screen_right_2 ul li{line-height:20px;font-size:12px;color:#fff;position:relative;padding:13px 0;border-top:1px solid #4287db;margin-left: 15px;}
ul.screen>li .screen_right_2 ul li span{opacity: .7;filter:alpha(opacity=70);height:40px;display:block;overflow:hidden;color:#fff;
    cursor: text;
}
ul.screen>li .screen_right_2 ul li:before{content: '';position: absolute;left:-15px;top:20px;width:7px;height: 7px;background:url(../images/business_list/icon12.png) no-repeat center;}
ul.screen>li .screen_right_2 ul li:last-child{border:none;}

.service_choose{width:1200px;position: absolute;left:50%;margin-left: -600px;top:-300px;}
ul.screen>li .screen_right_2 ul li span i{margin-right:2px;display: inline-block;width: 48px;height: 15px;background: url('../images/business_list/icon5.png') no-repeat center;text-align: center;line-height: 15px;font-size: 12px;color:#fff;}

/* 鏂板鍑哄敭浠锋牸鐨勮緭鍏ユ鍜屾寜閽� */
.pricediy .wan1{
    position: absolute;
    left: 63px;
    font-size: 14px;
    color: #858585;
}
.pricediy .p2{
    left: 95px;
}
.pricediy .wan2{
    position: absolute;
    left: 158px;
    font-size: 14px;
    color: #858585;
}
.pricediy .p3{
    position: absolute;
    left: 188px;
    font-size: 14px;

}
/* 鍏朵粬绛涢€夌殑select */

.other_select dd select{
    width: 130px;
    height: 28px;
    border: 1px solid #e3e3e3;
    background: url('../images/business_list/icon6.png') no-repeat left 104px center;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 鍜� Chrome */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 14px;
    color: #666666;
}
.other_select dd select.first_select{
    margin-left: 22px;
}
.screen .result .dd a.more{
    /* float: right; */
    display: inline-block;
    width: 58px;
    height: 22px;
    line-height: 22px;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    right: -82px;
    border: 1px solid #e2e2e2;
    padding: 0 0 0 9px;
    background: url(../images/business_list/icon6.png) no-repeat right 7px center;
    font-size: 12px;
}





@charset "utf-8";
/*妯℃嫙select*/
.select{background: url(../images/index/mapicon.png) no-repeat 10px center;position:relative;margin:16px 0 0 22px;display: inline-block;}
.select input{background: url(../images/business_list/icon6.png) no-repeat right 20px center;text-indent:7px;cursor:pointer;min-width: 200px;height: 26px;border:1px solid #e3e3e3;padding-right: 53px;}
.select .son{display:none;position:absolute;background:#fff;left:0;border:1px solid #ddd;z-index:10;width:320px;-webkit-box-shadow:0 0 2px #eee;box-shadow:0 0 2px #eee;}
.select .son a{display:block;line-height:30px;margin:0 10px;color:#777;border-bottom:1px dotted #eee;}
.select .son a:hover{color:#000;}
.select:hover .son{display:block;}

/*妯℃嫙鍦板尯閫夋嫨*/
.sonaddress .tabbtnbox{border-bottom:1px solid #eee;margin:0 10px 10px 10px;height:29px;}
.sonaddress .tabbtnbox span{color:#888;padding:5px 31px;float:left;display:block;cursor:pointer;line-height: 18px;}
.sonaddress .tabbtnbox span:hover{color:#000;}
.sonaddress .tabbtnbox span{background:#F8F8F8;border-left:1px solid #EEEEEE;border-top:1px solid #eee;}
.sonaddress .tabbtnbox span.end{border-right:1px solid #eee;}
.sonaddress .tabbtnbox span.on2{background:#fff;border-top:1px solid #0172FF;border-bottom:1px solid #fff;}
.sonaddress .tabcontent2{margin:2px 0px 10px 7px;overflow:hidden;min-height:148px;height:18px;display:none;}
.sonaddress .tabcontent2 span{padding:3px 5px;float:left;display:block;cursor:pointer;color:#888;}
.sonaddress .tabcontent2 span:hover{color:#000;}
.selected{color:#0172FF !important;border-radius:4px;}
.sonaddress h2{font-size:12px;color:#888;font-weight:normal;padding:10px 10px 5px 10px;line-height:20px;}
.sonaddress h2 span{color:#145FBC;cursor:pointer;}
.mCSB_container{margin-right:15px !important;}
.mCSB_dragger_bar{width: 8px !important;}
.mCSB_draggerRail{width:3px !important;}
.mCSB_dragger_bar{background-color: rgba(0,0,0) !important;opacity:.4!important; filter:"alpha(opacity=40)" !important;-ms-filter:"alpha(opacity=40)" !important;}
.mCustomScrollBox:hover .mCSB_dragger_bar{opacity:.4!important; filter:"alpha(opacity=40)" !important;-ms-filter:"alpha(opacity=40)" !important;}

.screen dl dd.service_city{
    padding: 0;
}
.screen .result:after{
    content: '';
    display: inline-block;
    clear: both;
    /* height: 60px; */
    background: #fff;
}

/* 鍒嗛〉 */

.list-page{background: #fff;padding: 0px 30px;text-align:left;border-top:1px dotted #EDECF4;width:1140px;margin:auto;height: 69px;padding-top:27px;margin-top: 6px;}
.list-page .frist{margin-right:17px;}
.list-page .end{margin-left:17px;}
.list-page a{position: relative;padding:12px 15px 13px 15px;border: 1px solid #f0f0f0;background: #fff;color: #999999;font-size: 14px;float:left;display:block;}
.list-page a:hover{border: 1px solid #2b3d63;color: #2b3d63}
.list-page span{color: #666;font-size: 14px;padding: 0 10px;float:left;display:block;line-height:39px;}
.list-page span font{color:#2b3d63;font-family:arial;}
.list-page .active{background: #fff;border: 1px solid #2b3d63;color: #2b3d63 !important;}
.list-page .list-page-input{*vertical-align: middle;border: 1px solid #f0f0f0;background: #fff;padding: 9px 0;width: 40px;text-align: center;font-size: 14px;float:left;display:block;}
.list-page .page_change{padding: 11.3px 10px !important;background:#2b3d63 !important;border-color:#2b3d63 !important;color:#fff !important;}
.list-page:after{
    content: '';
    display: block;
    clear: both;
}



/* 鏂板placeholder鐨勯鑹叉敼鍙� */
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666666;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666666;
}

input:-ms-input-placeholder{
    color: #666666;
}

input::-webkit-input-placeholder{
    color: #666666;
}



ul.screen>li.result {
    width:auto;
    /* max-width: ; */
    padding:0;
    display: none;
}
/* 鏂板閫夋嫨缁撴灉 */
.result div.result_dd{
    width: 700px;
    overflow: hidden;
    height: 49px;
    position: relative;
    float: left;
    white-space:nowrap;
}
.result div.result_dd:after{
    content: '';
    display: block;
    clear: both;
}
.left_arrow,.right_arrow{
    content: '';
    display: inline-block;
    width: 20px;
    height: 30px;
    float: left;
    border: 1px solid #e6e6e6;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: none;
    background: url('../images/business_list/icon14.png') no-repeat center;
    /* position: absolute; */
    cursor: pointer;

}
.left_arrow{
    top: 50%;
    left: 0;
    margin: 14px 0 0 10px;

}
.left_arrow:hover{
    background: #5377c1 url('../images/business_list/icon15.png') no-repeat center;
}

.right_arrow{
    right: -20px;
    top: 50%;
    margin-top: 14px;
    background: url('../images/business_list/icon17.png') no-repeat center;

}
.right_arrow:hover{
    background: #5377c1 url('../images/business_list/icon16.png') no-repeat center;
}



.screen .result .dd a.more{
    float: right;
    display: inline-block;
    width: 58px;
    height: 22px;
    line-height: 22px;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    right: 0px;
    border: 1px solid #e2e2e2;
    padding: 0 0 0 9px;
    background: url(../images/business_list/icon6.png) no-repeat right 7px center;
    font-size: 12px;
    color: #8f8f8f;
    margin-top: 20px;
}
.screen .result .dd a.more:hover{
    color: #649be8;
}

.result div.result_dd:after{
    content: '';
    display: block;
    clear: both;
}

/* 妯℃嫙涓嬫媺妗� */
.other_select dd>div{
    position: relative;
    margin-left: 10px;
    display: inline-block;
}
.other_select dd>div.first_select{
    margin-left: 12px;
}
.other_select dd>div div{
    width: 132px;
    height: 28px;
    border: 1px solid #e3e3e3;
    background: url(../images/business_list/icon6.png) no-repeat left 104px center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    cursor: pointer;
    /* margin-left: 10px; */
    font-size: 14px;
    color: #666666;
}
.other_select dd>div ul{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 27px;
    padding-left: 5px;
    border: 1px solid #e3e3e3;
    background: #fff;
    z-index: 2;
    display: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.other_select dd>div ul li{
    cursor: pointer;
    width: 125px;
    height: 28px;
    font-size: 14px;
    color: #666666;
}

.other_select dd>div ul li a {
    display: block;
    font-size: 14px;
    color: #666666;
    padding: 0;
}

.fade_in{
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-animation: style_change .3s;
    animation: style_change .3s;
}
@-webkit-keyframes style_change{
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
@keyframes style_change{
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}


/*鍐呭鍒楄〃*/

.pro_list{min-height: 150px;overflow: hidden;width: 1200px;margin: auto;display: none;}
.pro_list li{background: #fff;position: relative;-webkit-box-sizing: border-box;box-sizing: border-box;-moz-box-sizing: border-box;padding:20px 26px 36px 30px;overflow:hidden;margin-bottom:10px;}
.pro_list li:before{content: '';width:25px;height:23px;position:absolute;left:0;top:0;display:none;}
.pro_list li.t:before{display:block;}
.pro_list li .pro_img{width: 98px;height: 98px;display: table-cell;text-align: center;vertical-align: middle;}
.pro_list li .pro_img img{width: 98px;height: 98px;overflow: hidden;border-radius:50%;display:block;}
.pro_list li .pro_img span{height: 18px;font-size: 12px;background:#8BB9F7;padding:3px 13px;border-radius:13px;color:#fff;position:relative;top:-8px;}
.pro_list li .pro_cont{overflow:hidden;height:98px;width:822px;float:left;margin-left:30px;}
.pro_list li .cont1{width: 700px;font-size:14px;color:#9F9F9F;line-height:24px;padding-top:13px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
.pro_list li .cont1 h2{font-size:16px;font-weight:700;color:#656565;line-height:24px;display:inline;padding-right:10px;}
.pro_list li .cont2{margin-top:16px;}
.pro_list li .cont2 .cont_tab{float: left;text-align:left;margin: 0 5px;border-left:1px solid #E5E5E5;padding:0 0 0 30px;}
.pro_list li .cont2 .cols_1{width: 130px;height: 41px;padding-left:0;border:none;}
.pro_list li .cont2 .cont_tab.cols_1 p{color: #ff6601;font-weight: bold;font-family:arial;}
.pro_list li .cont2 .cols_2{width: 120px;height: 41px;}
.pro_list li .cont2 .cols_3{width: 110px;height: 41px;}
.pro_list li .cont2 .cols_4{width: 80px;height: 41px;}
.pro_list li .cont2 .cols_5{width: 100px;height: 41px;}
.pro_share{position:absolute;right:30px;top:20px;}
.pro_share_1{font-size:12px;font-family:arial;color:#8C8C8C;line-height:22px;padding-top:16px;text-align:right;}
.pro_share_2_div{overflow:hidden;clear:both !important;width:100% !important;height:28px;position:relative;z-index:1;}
.pro_share_2{overflow:hidden;clear:both !important;width:100% !important;height:28px;position:relative;}
.pro_share_2 span{font-family:寰蒋闆呴粦 !important;display:inline-block;float:right;height:24px !important;line-height:24px !important;color:#C7C7C7;padding-right:16px;background: url(../images/business_list/icon6.png) no-repeat right center !important;cursor:pointer;margin:2px 0;}
.pro_share_2 span.bds_more{background: url(../images/business_list/icon30.png) no-repeat right center !important;padding-top:0 !important;padding-bottom:0 !important;position:absolute !important;right:0;top:0;z-index:1px !important;}
.pro_share_2 span:hover{background:url(../images/business_list/icon35.png) no-repeat right center !important;color:#5377C1;}
.pro_share_3 a{height:30px;border:1px solid #DFDFDF;border-radius:4px;padding:0 10px;line-height:30px;text-align:center;display:block;float:right;margin-left:5px;}
.pro_share_3 a{color:#9F9F9F;}
.pro_share_3 .a1:hover{background:#5075c6;border-color:#5075c6;color:#fff;}
.pro_share_3 .a2:hover{background:#fff;border-color:#5075c6;color:#5075c6;}
.pro_share_3 .a2 span{padding-left:26px;background: url(../images/business_list/icon34.png) no-repeat 5px center;font-size: 14px;}
.pro_share_3 .a1 span{padding-left:26px;background: url(../images/business_list/icon33.png) no-repeat 5px center;font-size: 14px;}
.pro_share_3 .a2:hover span{background: url(../images/business_list/icon32.png) no-repeat 5px center;}
.pro_share_3 .a1:hover span{background: url(../images/business_list/icon31.png) no-repeat 5px center;color: #fff}
.pro_list li:last-child{margin-bottom:0;}
.pro_list li .cont2 .cont_tab span{display: block;color: #999;font-size: 12px;padding-bottom: 4px;line-height:16px;}
.pro_list li .cont2 .cont_tab p{color: #4c4c4c;font-size: 18px;white-space: nowrap;text-overflow: ellipsis;}
.pro_list li .cont2 .operate{margin-top: -16px;margin-right: 50px;}
.pro_list li .cont2 .operate a{display: block;float: left;width: 98px;height: 28px;line-height: 28px;text-align: center;font-size: 12px;color: #fff;border: 1px solid #6839F3;}
.pro_list li .cont2 .operate .myacar{background: #6839F3;border-top-left-radius: 15px;-webkit-border-top-left-radius: 15px;border-bottom-left-radius: 15px;-webkit-border-bottom-left-radius: 15px;}
.pro_list li .cont2 .operate .contact{color: #6839f3;border-top-right-radius: 15px;-webkit-border-top-right-radius: 15px;border-bottom-right-radius: 15px;-webkit-border-bottom-right-radius: 15px;}
.pro_list li .cont2 .operate a > i{display: inline-block;content: "";height: 28px;margin-right: 4px;vertical-align: top;}
.pro_list li .cont2 .operate .myacar > i{width: 14px;background: url("../images/business_list/mycar.png") no-repeat left center;}
.pro_list li .cont2 .operate .contact > i{width: 16px;background: url("../images/business_list/contact.png") no-repeat left center;}


