<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>知识产权质押融资贷款风险
        补偿合作协议
    </title>


    <!--STYLESHEET-->
    <!--=================================================-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/finance/css/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="/finance/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="/finance/css/demo/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="/finance/css/demo/nifty-demo.min.css" rel="stylesheet">


    <!--Font Awesome [ OPTIONAL ]-->
    <link href="/finance/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">


    <!--Dropzone [ OPTIONAL ]-->
    <link href="/finance/plugins/dropzone/dropzone.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/common/jquery-confirm.css">


    <link href="/home/css/main.css" rel="stylesheet">
    <link href="/home/css/icomoon.css" rel="stylesheet">
    <link href="/home/css/animate-custom.css" rel="stylesheet">


    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="/finance/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="/finance/plugins/pace/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="/finance/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="/finance/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="/common/jquery-confirm.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="/finance/js/nifty.min.js"></script>


    <!--=================================================-->

    <!--Demo script [ DEMONSTRATION ]-->
    <script src="/finance/js/demo/nifty-demo.min.js"></script>


    <!--Dropzone [ OPTIONAL ]-->
    <script src="/finance/plugins/dropzone/dropzone.min.js"></script>


    <!--Form File Upload [ SAMPLE ]-->
    <!--<script src="js/demo/form-file-upload.js"></script>-->
    <script src="/finance/js/All/All-contract-file.js"></script>

    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div class="top col-md-12" style="height: 56px;background: #3b3e43">
    <img src="https://i.imgur.com/jwJTKCL.png" style="height: 56px;width: 56px;background-size: 100% 100%;margin-right: 20px">
    <span style="color: white;font-size: 15px">IPNET支付交易中心</span>
</div>
<div id="container" class="">

    <!--NAVBAR-->
    <!--===================================================-->
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <!--Page Title-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--<div id="page-title">-->
                <!--<h1 class="page-header text-overflow"></h1>-->

                <!--&lt;!&ndash;Searchbox&ndash;&gt;-->
                <!--<div class="searchbox">-->
                    <!--<div class="input-group custom-search-form">-->
                        <!--<input type="text" class="form-control" placeholder="查询..">-->
                        <!--<span class="input-group-btn">-->
                                <!--<button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>-->
                            <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End page title-->


            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">


                <div class="row">

                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title">知识产权质押融资贷款风险补偿合作协议</h1>
                            </div>
                            <div class="panel-body">

                                <!--Paragraph-->
                                <!--===================================================-->
                                <!--<p class="text-main text-semibold">Paragraph Text</p>-->
                                <p style="text-indent:2em;">
                                    为贯彻实施创新驱动发展战略和国家知识产权战略，全面提升我市知识产权综合实现和运用能力，完善科技成果转化机制，推动金融、科技与产业的有效创新融合，本着优势互补、共促发展的原则，<div class="gov"></div>省（区、市）知识产权局、<div class="gov"></div>省（区、市）财务局（以下称“乙方”）、<div class="bank"></div>银行股份有限公司、<div class="insurance"></div>保险股份有限公司、<div class="value"></div>服务有限公司同意共同开展知识产权质押融资贷款风险补偿项目合作，达成并履行如下条款。</p>
                                <h4>

                                    一、资金的设立</h4>
                                <p>
                                </p>
                                <p> 第一条 根据《关于印发<div class="gov"></div>省（区、市）知识产权质押融资风险补偿办法的通知》（<div class="gov"></div>知发[2016]
                                    号）等规定，<div class="gov"></div>省（区、市）知识产权局（以下称“甲方”）、<div class="gov"></div>省（区、市）财务局（以下称“乙方”）、<div class="bank"></div>银行股份有限公司（以下称“丙方”）、<div class="insurance"></div>保险股份有限公司（以下称“丁方”）、<div class="value"></div>服务有限公司（以下称“戊方”）五方经协商后，同意共同开展知识产权质押融资贷款风险补偿项目合作，经各方协商一致，签订本协议。
                                </p>
                                <p> 第二条
                                    知识产权质押融资贷款风险补偿资金（以下简称“风险补偿资金”）是一个开放式平台，甲方、乙方做为风险补偿资金管理方，可以同时与其他合作机构开展知识产权质押融资贷款风险补偿项目，并提供风险补偿支持。
                                </p>
                                <p> 第三条 风险补偿资金的使用原则。
                                </p>
                                <p> （一）符合<div class="gov"></div>省（区、市）发展导向和科技创新发展方向的。
                                </p>
                                <p> （二）坚持公平、公开、公正的原则，明确目标，突出重点，规范程序，科学决策，择优扶持。
                                </p>
                                <p> （三）专款专用，严格监督，确保风险补偿资金规范、安全和高效使用并及时核销。
                                </p>
                                <p> （四）遵守国家有关法律、法规和财务规章制度，不以盈利为目的。
                                </p>
                                <p> 第四条 风险补偿资金不得以任何形式用于从事股票、房地产、期货、股权、金融衍生品等高风险投资业务、承担无限责任的项目以及赞助、捐赠等支出。

                                </p><h4> 二、入池企业认定流程
                            </h4>
                                <p> 第五条
                                    风险补偿资金扶持对象是在<div class="gov"></div>省（区、市）行政区域内登记注册的企业，符合<div class="gov"></div>省（区、市）产业政策和发展方向，包括但不限于知识产权示范企业、知识产权优势企业、知识产权贯标企业、高新技术企业、高新技术后备企业、孵化器内在孵企业。
                                </p>
                                <p> 第六条 申请风险补偿资金扶持的企业须具备以下条件：
                                </p>
                                <p> （一）在<div class="gov"></div>省（区、市）行政区域内登记注册2年以上的企业，并依法办理税务登记、没有欠缴税费，且近3年没有出现税收违法行为；
                                </p>
                                <p> （二）内部管理规范，财务制度健全，能按时提供真实完整的财务报表或相关财务证明;
                                </p>
                                <p> （三）无违法违规经营记录，信誉良好；
                                </p>
                                <p> （四）能够提供资金需求说明、资金使用计划等材料；
                                </p>
                                <p> （五）具备持续进行研究开发与技术成果转化的能力，符合科技部门要求的科技创新发展方向；
                                </p>
                                <p> （六）拥有合法的专利权。
                                </p>
                                <p> 第七条
                                    丙方、丁方、戊方经共同初步筛选申请纳入风险补偿资金池的企业名单后，由丙方汇总后，原则上按季度向各方提交拟入池企业名单，同时提交拟入池企业符合风险补偿资金支持的条件等资料信息。
                                </p>
                                <p> 第八条
                                    各方收到丙方提交的申请入池企业名单后，应认真核实审查，并出具书面回复意见。经各方共同确认后，确定纳入风险补偿资金池的企业名单，丙方应将纳入风险补偿资金池的企业名单提交甲方备案。
                                </p>
                                <p> 第九条 由本风险补偿资金项目对应支持的单笔知识产权质押贷款金额最高不超过300万元，同一企业由本风险补偿资金项目对应支持的知识产权质押贷款金额最高不超过1200万元。

                                </p><h4> 三、各方职责
                            </h4>
                                <p> 第十条 甲方的工作职责：
                                </p>
                                <p> （一）制定风险补偿资金管理办法，负责资金的总体使用规划。
                                </p>
                                <p> （二）确定风险补偿资金扶持产业方向或支持企业类型。
                                </p>
                                <p> （三）接受合作机构、合作方案的申报，按规定确定开展项目的合作机构、风险补偿合作协议。
                                </p>
                                <p> （四）委托乙方作为负责管理本风险补偿资金日常事务责任单位。
                                </p>
                                <p> （五）资金管理事项的调整和决策。
                                </p>
                                <p> （六）收到乙方的风险补偿申请初审结果后，可组织专家小组于30天内对风险补偿申请进行审核，并出具书面意见。
                                </p>
                                <p> （七）审核风险补偿资金的支出与核销，监督风险补偿资金使用情况，核实资金管理情况。
                                </p>
                                <p> （八）对风险补偿资金运作进行监督检查，可委托专业机构开展绩效评价。
                                </p>
                                <p> （九）与上级机构沟通协调使用风险补偿资金。
                                </p>
                                <p> 第十一条 乙方的工作职责：
                                </p>
                                <p> （一）开立风险补偿资金专用账户，作为风险补偿资金存放及支出的专用账户，并将批准使用的风险补偿资金存放进该专用账户。
                                </p>
                                <p> （二）负责风险补偿资金日常运作、账户管理、资金核算管理工作，以保障风险补偿资金的安全性和使用效率。
                                </p>
                                <p> （三）及时收集银行贷款信息。
                                </p>
                                <p> （四）接受丙方提出的风险补偿损失申请，并于收到申请后5个工作日内对贷款企业资格、发放贷款额度等内容进行初步审核后提交甲方，并配合甲方开展风险补偿申请审核等工作。
                                </p>
                                <p> （五）每一笔风险补偿的金额确认后，根据甲方出具的书面确认结果，于丁方提出风险分担之日起7个工作日内向其划转应赔付的风险补偿资金数额。
                                </p>
                                <p> （六）委托丁方向贷款企业进行追偿，并提供必要的协助。
                                </p>
                                <p> （七）甲方要求的其他与风险补偿资金业务相关的工作。
                                </p>
                                <p> 第十二条 丙方负责审核放贷及风险补偿资金相关管理工作，并依据第二十条规定的分摊比例共担风险损失，包括：
                                </p>
                                <p> （一）原则上按季度向甲方报送纳入风险补偿资金池的企业名单，由甲方组织召开联席会议共同筛选确定。
                                </p>
                                <p>
                                    （二）企业贷款的审查、发放和管理。结合企业资质，参照丁方的风险审核意见和戊方的知识产权评估分级意见进行审批放贷，为企业优先安排足够的贷款额度，提供优惠年利率，原则上贷款利率上浮不得超过基准利率的30%。在第一批贷款企业确定之日起30日内正式启动贷款发放工作。
                                </p>
                                <p>
                                    （三）建立相应的风险监控制度，在贷前审查、贷中审查、贷后跟踪管理、逾期催收、损失追偿等各个环节中，全程严格把好贷款质量关口。承担主要的贷款风险监控、管理和通报职责，按季度向本协议各方通报贷款企业信息和不良贷款追偿情况。
                                </p>
                                <p> （四）贷款逾期时，及时启动催收、财产保全及冻结等各项工作，在确认贷款损失发生后，以书面形式正式告知各方，同时向丁方提出索赔。
                                </p>
                                <p>
                                    （五）可接受丁方委托对贷款企业及其连带责任保证人进行不良贷款追偿。在接受丁方委托之日起3个月内启动追偿工作，直至司法终审判决或裁决生效并执行完毕，或者直至本协议各方书面同意终止追偿。
                                </p>
                                <p>
                                    （六）若丙方未能在接受丁方委托之日起3个月内启动追偿工作，开展对贷款企业或其连带责任保证人提起诉讼，或者通过非诉讼的其他合法途径（包括但不限于发出催收函等）进行追偿等工作，导致无法向贷款企业追偿的，丙方应向丁方承担违约责任，将丁方已支付款项全额退还。
                                </p>
                                <p>
                                    （七）相关追偿事宜及进展应及时告知各方，对追偿所得款项在扣除相关追偿费用后，追偿所得剩余款项先行偿还已代偿的贷款本金，按风险分摊比例与丁方进行同一顺序的分摊,丙方不具有优先处置权，其次偿还贷款利息、罚息。
                                </p>
                                <p>
                                    （八）根据本协议为乙方提供风险补偿资金专用账户，并作出优惠计息方案，按季度向乙方提交报表、对账单及业务评估报告等，按相关比例和程序扣划、分账、审核、监督风险补偿资金账户。
                                </p>
                                <p> 第十三条 丁方负责对贷款企业提供增信服务，依据第二十条规定的分摊比例共担风险损失，包括：
                                </p>
                                <p>
                                    （一）审查贷款企业是否符合投保标准，为企业提供增信服务。如认为贷款存在较大风险，可进行独立调查，对丙方贷款进行否决，并与贷款企业签订贷款保证保险合同,贷款保证保险费率为年费率，且不高于实际贷款金额的2.3%。
                                </p>
                                <p> （二）根据企业需求，为贷款企业提供专利保险、贷款企业意外保险等附加性保险服务。
                                </p>
                                <p>
                                    （三）丙方确认贷款损失发生后，向丁方提出风险补偿申请，丁方于丙方提出风险补偿申请之日起30天内进行确认，风险补偿金额经签订合作协议各方确认后，丁方于5个工作日内向丙方支付保险赔偿金，赔付比例为贷款本金损失的74%。丁方赔付后向乙方和戊方提出风险分担申请。丁方累计赔偿限额为实收保费的200%。
                                </p>
                                <p> （四）丁方向丙方履行保险赔偿责任后，就所赔付金额依法对贷款企业及其连带责任保证人享有代位追偿权。
                                </p>
                                <p> （五）丁方接受乙方、戊方委托向贷款企业及其连带责任保证人进行追偿，可委托丙方代为追偿丁方已赔付的贷款本金损失。
                                </p>
                                <p> （六）丁方委托丙方追回款项之后，对于按风险分担比例应属于乙方和戊方款项的，依本协议约定进行划转。
                                </p>
                                <p>
                                    （七）丁方委托丙方向贷款企业进行追偿后，若因丙方或丁方原因未能在规定期限内启动追偿工作，开展对贷款企业或其连带责任保证人提起诉讼，或者通过非诉讼的其他合法途径进行追偿（包括但不限于发出催收函）等工作，导致无法向贷款企业进行追偿的，丁方应向乙方、戊方承担违约责任，将乙方、戊方已支付的款项全额退还。
                                </p>
                                <p> 第十四条 戊方负责对贷款企业提供专利评估服务，并依据第二十条规定的分摊比例共担风险损失，包括：
                                </p>
                                <p>
                                    （一）与企业签订专利评估合同，并对申请贷款的质押专利进行价值等级评估，提交科学、严谨、真实、合理的评估报告。评估费率不得超过实际贷款金额的1%。评估展开前企业缴纳3000元评估费，评估完成且企业成功贷款的，按实际贷款金额的1%由贷款企业向戊方补齐评估费；未成功获得贷款的，3000元评估费不予退还。如认为申请贷款的质押专利权属或者价值存在重大瑕疵，可能致使贷款存在较大风险，可对该笔贷款申请行使否决权。
                                </p>
                                <p> （二）于丙方提出风险补偿申请之日起，30天内对风险补偿申请进行审核，并出具书面审核结果。
                                </p>
                                <p> （三）于丁方提出风险分担之日起7个工作日内向丁方划转风险补偿金额，并委托丁方向贷款企业进行追偿。
                                </p>
                                <p> （四）当风险损失发生时，可自行或接受丙方委托发挥专业优势对质押专利依法进行处理。
                                </p>
                                <p> 第十五条
                                    各方共建风险预警信息共享和通报机制，共同对贷款企业预警，共同防范贷款风险。任何一方获知贷款企业出现违反贷款用途、挪用贷款或其他严重影响其还款可能等违约情况时，均须及时互相书面通知，以便及时采取提前要求还贷、减少贷款数额，立即启动法律程序追收贷款本息、违约金等相关措施。丙方承担主要的风险管理工作，并按季度向有关各方及时通报贷款企业信息。

                                </p><h4> 四、企业贷款流程
                            </h4>
                                <p> 第十六条 风险补偿项目企业贷款程序如下：
                                </p>
                                <p>
                                    （一）已纳入风险补偿资金池的企业（以下称“贷款企业”）向戊方申请进行质押专利评估，戊方在受理后应及时与贷款企业签订专利评估合同，自专利评估合同签订之日起15个工作日内，出具正式的质押专利权价值评估报告，一并移交丙方；
                                </p>
                                <p> （二）贷款企业向丙方提交专利权价值评估报告等相关资料后，丙方进行信贷评审和决策，在受理之日起15个工作日内提交信贷评审结果；
                                </p>
                                <p> （三）丁方根据丙方信贷评审结果和戊方专利权价值评估报告等相关资料进行保险评审和决策，在受理之日起5个工作日内提交评审结果，评审通过的，与贷款企业签订贷款保证保险合同；
                                </p>
                                <p> （四）贷款企业以专利权单独进行质押，委托戊方免费办理专利权质押登记手续，戊方不收取办理专利权质押登记手续费用；
                                </p>
                                <p> （五）贷款企业法定代表人或其主要控制人与丙方、丁方签署连带责任担保协议；
                                </p>
                                <p> （六）丙方、丁方、戊方就审核结果及贷款额度达成一致意见后，丙方可与贷款企业签订贷款合同，并发放贷款。
                                </p>
                                <p> 第十七条
                                    贷款发放后，丙方应按季度向各方通报贷款企业信息和不良贷款项目追偿跟踪情况表，同时应按季度向甲方和乙方提交贷款季度报表、风险补偿资金专用账户对账单、项目业务评估简报等，并在年末提交业务评估详细报告。
                                </p>
                                <p> 第十八条
                                    风险补偿项目运行过程中，当出现贷款企业的逾期贷款占丙方已发放贷款总额的比例超过8%或者风险补偿资金已赔付金额达到风险补偿资金总额的50%时，应立即暂停该风险补偿项目的合作。
                                </p>
                                <p> 第十九条
                                    风险补偿项目暂停后，由甲方组织乙方、丙方、丁方、戊方共同对风险管控机制、运营模式等条件重新进行磋商，风险管控得到改善且各方重新协商一致后方再恢复。暂停期间，已开展尚未归还的业务，按照本合作协议已有的约定履行风险分担责任。

                                </p><h4> 五、风险补偿流程
                            </h4>
                                <p> 第二十条 贷款本金损失的风险补偿由各方共同承担，各方风险分摊比例如下：
                                </p>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>风险补偿资金</td>
                                        <td>丙方</td>
                                        <td>丁方</td>
                                        <td>戊方</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">第一层：风险补偿资金充足</td>
                                        <td>风险承担比例</td>
                                        <td>54%</td>
                                        <td>26%</td>
                                        <td>16%</td>
                                        <td>4%</td>
                                    </tr>
                                    <tr>
                                        <td>单笔最高风险
                                            分担额度
                                        </td>
                                        <td>162万元</td>
                                        <td>78万元</td>
                                        <td>48万元</td>
                                        <td>12万元</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">第二层：风险补偿资金余额不足部分</td>
                                        <td>风险承担比例</td>
                                        <td>余额</td>
                                        <td>剩余贷款本金
                                            损失的20%
                                        </td>
                                        <td>剩余贷款本金损失的80%</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>单笔最高风险
                                            分担额度
                                        </td>
                                        <td>余额</td>
                                        <td>60万元</td>
                                        <td>240万元</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">第三层：高于实收保费200%部分</td>
                                        <td>风险承担比例</td>
                                        <td>余额</td>
                                        <td>剩余贷款本金
                                            损失的100%
                                        </td>
                                        <td>0%</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>单笔最高风险
                                            分担额度
                                        </td>
                                        <td>余额</td>
                                        <td>300万元</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p> 贷款利率的损失由丙方自行承担。
                                </p>
                                <p> 第二十一条 风险补偿的流程
                                </p>
                                <p> （一）贷款发生逾期5个工作日内，丙方启动催收工作.
                                </p>
                                <p> （二）贷款发生逾期25个工作日内，丙方应向贷款企业出具正式的催收函，启动知识产权保全及冻结手续，并告知各方。
                                </p>
                                <p>
                                    （三）丙方应与乙方加强定期信息交流。若发生贷款企业不按合同约定履行还本付息义务，且逾期贷款本金或者利息超过60天仍未还款的，丙方应书面告知各方，并书面向乙方、丁方、戊方提出风险补偿申请，同时书面向丁方提出索赔，并启动追偿程序。
                                </p>
                                <p> （四）丙方向乙方提出风险补偿申请的时限，应不超过《关于印发<div class="gov"></div>省（区、市）知识产权质押融资贷款风险补偿办法的通知》（<div class="gov"></div>知发[2016]
                                    号）的有效期限，否则乙方不承担任何责任。
                                </p>
                                <p> （五）乙方收到申请后，5个工作日内进行初审并报甲方核准确认。甲方自收到乙方初审认定申请之日,可组织专家小组对风险补偿申请进行审核，乙方进行配合，于30天内出具书面意见。
                                </p>
                                <p> （六）丁方、戊方收到丙方的风险补偿申请，于30天内出具书面意见。
                                </p>
                                <p> （七）经乙方、丁方、戊方书面确认风险补偿的数额后，丁方于5个工作日内向丙方划转赔款，划转金额为贷款本金损失74%份额，并向乙方、戊方提出风险分担申请。
                                </p>
                                <p> （八）丁方书面提出风险分担之日起7个工作日内，乙方、戊方向丁方按本协议约定比例划转各自份额。
                                </p>
                                <p> 第二十二条
                                    当同时发生2笔及以上贷款损失的，丙方应就单笔损失分别提出索赔。丁方有权逐笔进行赔付处理，对已向丙方赔付而未收到乙方、戊方分担份额的，可在收到58%风险分担份额后，再对下一笔贷款损失进行赔付。
                                </p>
                                <p> 第二十三条 若出现以下情形，甲方、乙方对风险补偿申请可按有关规定不予受理或不予认定为风险损失，风险补偿资金不承担任何补偿责任：
                                </p>
                                <p> （一）丙方向风险补偿资金池以外的企业发放贷款后出现风险损失的；
                                </p>
                                <p> （二）因贷款逾期产生的除贷款本金以外的逾期利息、罚息、违约金等；
                                </p>
                                <p> （三）丙方向企业发放的贷款额度，超过各方确认的贷款额度；
                                </p>
                                <p> （四）丙方提出风险补偿申请的时限，超过《关于印发<div class="gov"></div>省（区、市）知识产权质押融资贷款风险补偿办法的通知》（<div class="gov"></div>知发〔2016〕 号）的有效期限。

                                </p><h4> 六、追偿流程
                            </h4>
                                <p> 第二十四条 追偿的流程
                                </p>
                                <p>
                                    （一）丁方向丙方划转赔款后，即获得对贷款企业及其连带责任保证人的代位追偿权，同时委托丙方进行追偿。承担损失的任何一方均保有就未清偿债务向贷款企业及其连带责任保证人追偿的权利。
                                </p>
                                <p>
                                    （二）丙方作为本项目追偿债务的主体责任方，受丁方委托就贷款损失金额向贷款企业或其连带责任保证人进行追偿，相关追偿事宜及进展应及时以文字形式告知甲方、乙方、丁方、戊方，各方协助丙方追偿贷款债务。
                                </p>
                                <p>
                                    （三）丙方需要提起诉讼或仲裁的，应事先书面告知相关各方，在贷款企业及其连带责任保证人有知识产权及资产可以执行的情况下，有权立即申请法院资产保全，甲方、乙方、丁方、戊方对此予以协助。
                                </p>
                                <p>
                                    （四）丙方作为本项目追偿债务的主体责任方，可委托戊方对质押专利依法进行处理，戊方也可自行发挥自身优势对质押专利依法进行处理，专利处置费用为不超过实际追回所得款项的10%。
                                </p>
                                <p> （五）丙方应按季度向各方书面通报不良贷款项目追偿跟踪情况。
                                </p>
                                <p> （六）若因丙方或丁方原因导致贷款损失无法追偿的，可依相关规定分别追究其责任。
                                </p>
                                <p> 第二十五条 追偿费用包括为实现债权产生的律师费、法律诉讼费、专利处置费等，追偿费用以实际发生数额计算。
                                </p>
                                <p> 追偿所得款项不足以支付追偿费用的，不足部分由丙方、丁方、戊方共同协商解决，甲方、乙方对此不承担任何责任。
                                </p>
                                <p> 第二十六条 本协议所称的不良贷款指丙方认定的关注（逾期贷款）、次级、可疑、损失类贷款。
                                </p>
                                <p>
                                    本协议所称的不良贷款净损失，是指丙方为<div class="gov"></div>省（区、市）科技型企业提供知识产权质押贷款，在贷款本金、应付当期利息到期后，获得贷款的企业未能按合同约定向丙方偿还贷款本金及利息，并最后产生贷款本金逾期或不良贷款，丙方依据相关合同约定完成所有法律规定的追偿手续后仍无法收回的部分，包括逾期贷款本金、利息、罚息、诉讼等实现债权费用。
                                </p>
                                <p> 第二十七条 本协议约定的追偿工作终止有以下两种情形：
                                </p>
                                <p> （一）丙方在追偿过程中，已收回相应损失款项，经各方同意后，追偿工作可宣告终止。
                                </p>
                                <p>
                                    （二）经法院依法处置贷款质押知识产权、并对借款人和担保人强制执行后，借款人和担保人均无可再执行财产或法院裁定执行程序终结或终止（中止）后，仍无法收回的贷款本息及诉讼费确认为不良贷款的净损失。对产生净损失的贷款由丙方出具报告，经各方同意后丙方不再承担追偿责任，可终止追偿工作，同时由各方书面签署同意丙方应核销的项目及金额，核销各自贷款补偿资金损失部分。
                                </p>
                                <p> 第二十八条 以终审判决生效时限为终点，重新计算逾期贷款本金、利息、罚息、诉讼等实现债权费用的总金额。
                                </p>
                                <p> 第二十九条 对追偿所得款项在扣除追偿费用之后，按以下方式进行分配：
                                </p>
                                <p>
                                    （一）先行偿还各方已代偿的贷款本金损失，乙方、丙方、丁方、戊方处于同一顺序处置追偿所得剩余款项，任何一方无权优先受偿，根据第二十条的规定，由各方按照实际承担的风险比例进行分摊；
                                </p>
                                <p> （二）其次偿还银行贷款利息、罚息损失。

                                </p><h4> 七、风险补偿资金管理与监督
                            </h4>
                                <p> 第三十条
                                    风险补偿资金专款专用，单独列账。乙方可选择在丙方开立风险补偿资金专用账户，用于风险补偿资金存放和支持。丙方应设立专门的会计账目，对风险补偿资金的活动情况进行账务处理，每季度汇总并报告贷款企业及风险补偿资金开户账户的有关情况。
                                </p>
                                <p> 第三十一条 风险补偿资金账户所得利息收入，滚入风险补偿资金专用账户内，用于扩大风险补偿金规模。丙方应给予风险补偿资金账户利率优惠政策。
                                </p>
                                <p> 第三十二条 建立检查制度。甲方负责对风险补偿资金项目实施监督检查，建立项目追踪反馈制度，定期或不定期对项目进行现场检查，并按规定进行绩效评价，最大限度降低风险。
                                </p>
                                <p> 第三十三条 在风险补偿资金操作过程中，应建立信息沟通和管理协调机制，根据需要，由各方共同商议召开联席会议。如有分歧，由各方协商解决。

                                </p><h4> 八、法律适用与争议解决
                            </h4>
                                <p> 第三十四条 风险补偿资金必须专款专用。对有弄虚作假、挪用专项资金等行为的，除按《财政违法行为处罚条例》对有关款项予以追回外，一并追究责任单位和责任人员的法纪责任。
                                </p>
                                <p> 第三十五条 本协议适用中华人民共和国法律。
                                </p>
                                <p> 第三十六条 风险补偿资金运行过程中，出现了本协议未约定事项、约定不明确事项、对约定事项理解发生争议等情况时，由甲方牵头，组织签订本协议的其他各方共同协商解决。
                                </p>
                                <p> 第三十七条
                                    协议生效后，因订立、履行本协议发生或与本协议有关的一切争议，各方可协商解决。协商不成的，任何一方均可向<div class="gov"></div>省（区、市）具有管辖权的人民法院提起诉讼。在争议解决期间，若该争议不影响本合同其他条款的履行，其他条款应继续履行。

                                </p><h4> 九、 附 则
                            </h4>
                                <p> 第三十八条
                                    本协议及附件具有同等法律效力，自签署之日起执行，一式五份，有效期至2019年7月10日。有效期届满，或者有关法律政策及现实需求发生变化，经各方协商一致同意后可依法评估修订。
                                    <!--===================================================-->
                                </p>
                            </div>

                        </div>
                        <div class="checkbox">
                            <input id="demo-form-checkbox" class="magic-checkbox"
                                   type="checkbox" onclick="sure(this)">
                            <label for="demo-form-checkbox">我承诺并履行上述条款</label>
                        </div>
                        <div id="ifHide">
                            <small>专利持有人须上传知识产权局与财政局的签字,请确保上方的是知识产权局签字，下方是财政局签字</small>
                            <div class="bord-top pad-ver">
                                <!-- The fileinput-button span is used to style the file input field as button -->

                                <span class="btn btn-info fileinput-button dz-clickable">
					                <i class="fa fa-plus"></i>
					                <span>上传签字</span>
					            </span>
                                <div class="btn-group pull-right">
                                    <button id="dz-upload-btn" class="btn btn-primary" type="submit" disabled>
                                        <i class="fa fa-upload-cloud"></i>上传
                                    </button>
                                    <button id="dz-remove-btn" class="btn btn-danger cancel" type="reset" disabled>
                                        <i class="demo-pli-cross"></i>
                                    </button>
                                </div>
                            </div>


                            <div id="dz-previews">
                                <div id="dz-template" class="pad-top bord-top">
                                    <div class="media">
                                        <div class="media-body">
                                            <!--This is used as the file preview template-->
                                            <div class="media-block">
                                                <div class="media-left">
                                                    <img class="dz-img" data-dz-thumbnail>
                                                </div>
                                                <div class="media-body">
                                                    <p id="fileName" class="text-main text-bold mar-no text-overflow"
                                                       data-dz-name></p>
                                                    <span class="dz-error text-danger text-sm"
                                                          data-dz-errormessage></span>
                                                    <p class="text-sm" data-dz-size></p>
                                                    <div id="dz-total-progress" style="opacity:0">
                                                        <div class="progress progress-xs active" role="progressbar"
                                                             aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                            <div class="progress-bar progress-bar-success"
                                                                 style="width:0%;" data-dz-uploadprogress></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-right">
                                            <button data-dz-remove class="btn btn-xs btn-danger dz-cancel"><i
                                                    class="demo-pli-cross"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button id="checkInfo" class="btn btn-info">查看合同详情</button>
                        <button id="submit" class="btn btn-success">提交</button>
                    </div>
                </div>


            </div>
            <!--===================================================-->
            <!--End page content-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->

    </div>


    <!-- FOOTER -->
    <!--===================================================-->
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->


</div>
<div id="footerwrap">
    <div class="container">
        <h4><img src="https://i.imgur.com/qrRDHYM.png" style="height: 56px;width: 56px;background-size: 100% 100%;margin-right: 20px">Created by <a href="" style="color: rgba(61, 201, 179, 0.8)">NJU IDigger</a> - Copyright 2018</h4>
    </div>
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


<!-- SETTINGS - DEMO PURPOSE ONLY -->
<!--===================================================-->

<!--===================================================-->
<!-- END SETTINGS -->
<script src="/finance/js/All/All-contract.js"></script>
</body>
</html>
