<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>申请评估</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/finance/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/common/jquery-confirm.css">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="/finance/css/nifty.min.css" rel="stylesheet">


    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="/finance/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="/finance/css/demo/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="/finance/css/demo/nifty-demo.min.css" rel="stylesheet">

    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="/finance/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <link href="/finance/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css" rel="stylesheet">


    <!--Chosen [ OPTIONAL ]-->
    <link href="/finance/plugins/chosen/chosen.min.css" rel="stylesheet">


    <!--noUiSlider [ OPTIONAL ]-->
    <link href="/finance/plugins/noUiSlider/nouislider.min.css" rel="stylesheet">


    <!--Select2 [ OPTIONAL ]-->
    <link href="/finance/plugins/select2/css/select2.min.css" rel="stylesheet">


    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <link href="/finance/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="/finance/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">


    <!--Dropzone [ OPTIONAL ]-->
    <link href="/finance/plugins/dropzone/dropzone.min.css" rel="stylesheet">


    <link href="/home/css/main.css" rel="stylesheet">
    <link href="/home/css/icomoon.css" rel="stylesheet">
    <link href="/home/css/animate-custom.css" rel="stylesheet">


    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="/finance/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="/finance/plugins/pace/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="/finance/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="/finance/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="/common/jquery-confirm.js"></script>


    <script src="/finance/js/alertFile.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="/finance/js/nifty.min.js"></script>


    <!--=================================================-->

    <!--Demo script [ DEMONSTRATION ]-->
    <script src="/finance/js/demo/nifty-demo.min.js"></script>


    <!--Switchery [ OPTIONAL ]-->
    <script src="/finance/plugins/switchery/switchery.min.js"></script>


    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="/finance/plugins/bootstrap-select/bootstrap-select.min.js"></script>


    <!--Bootstrap Tags Input [ OPTIONAL ]-->
    <script src="/finance/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>


    <!--Chosen [ OPTIONAL ]-->
    <script src="/finance/plugins/chosen/chosen.jquery.min.js"></script>


    <!--noUiSlider [ OPTIONAL ]-->
    <script src="/finance/plugins/noUiSlider/nouislider.min.js"></script>


    <!--Select2 [ OPTIONAL ]-->
    <script src="/finance/plugins/select2/js/select2.min.js"></script>


    <!--Bootstrap Timepicker [ OPTIONAL ]-->
    <script src="/finance/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>


    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script src="/finance/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>


    <!--Dropzone [ OPTIONAL ]-->
    <script src="/finance/plugins/dropzone/dropzone.min.js"></script>

    <!--Form File Upload [ SAMPLE ]-->
    <script src="/finance/js/Applicant/Applicant-evaluation-file.js"></script>

    <!--Form Component [ SAMPLE ]-->
    <script src="/finance/js/demo/form-component.js"></script>


    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div class="top col-md-12" style="height: 56px;background: #3b3e43">
    <img src="https://i.imgur.com/jwJTKCL.png"
         style="height: 56px;width: 56px;background-size: 100% 100%;margin-right: 20px">
    <span style="color: white;font-size: 15px">IPNET支付交易中心</span>
</div>
<div id="container" class="">

    <!--NAVBAR-->
    <!--===================================================-->

    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <!--Page Title-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div id="page-title">
                <h1 class="page-header text-overflow">专利评估申请</h1>

                <!--Searchbox-->
                <div class="searchbox">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="查询..">
                        <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                    </div>
                </div>
            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End page title-->

            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">专利评估申请表</h3>
                            </div>
                            <form class="form-horizontal">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">专利ID</label>
                                            <div class="col-sm-11">
                                                <input id="patentID" type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">专利名称</label>
                                            <div class="col-sm-11">
                                                <input id="patent" type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">专利持有人</label>
                                            <div class="col-sm-11">
                                                <input id="holder" type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <a id="model" download="评估.zip">点击下载专利评估模版</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>

                            <div class="form-group">
                                <div class="bord-top pad-ver">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-info fileinput-button dz-clickable"><span>上传附件</span></span>
                                    <div class="btn-group pull-right">
                                        <button id="dz-upload-btn" class="btn btn-primary" type="submit" disabled>
                                            <i class="fa fa-upload-cloud"></i>上传
                                        </button>
                                        <button id="dz-remove-btn" class="btn btn-danger cancel" type="reset" disabled>
                                            <i class="demo-pli-cross"></i>
                                        </button>
                                    </div>
                                </div>


                                <div id="dz-previews">
                                    <div id="dz-template" class="pad-top bord-top">
                                        <div class="media">
                                            <div class="media-body">
                                                <!--This is used as the file preview template-->
                                                <div class="media-block">
                                                    <div class="media-left">
                                                        <img class="dz-img" data-dz-thumbnail>
                                                    </div>
                                                    <div class="media-body">
                                                        <p id="fileName"
                                                           class="text-main text-bold mar-no text-overflow"
                                                           data-dz-name></p>
                                                        <span class="dz-error text-danger text-sm"
                                                              data-dz-errormessage></span>
                                                        <p class="text-sm" data-dz-size></p>
                                                        <div id="dz-total-progress" style="opacity:0">
                                                            <div class="progress progress-xs active"
                                                                 role="progressbar"
                                                                 aria-valuemin="0" aria-valuemax="100"
                                                                 aria-valuenow="0">
                                                                <div class="progress-bar progress-bar-success"
                                                                     style="width:0%;"
                                                                     data-dz-uploadprogress></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="media-right">
                                                <button data-dz-remove
                                                        class="btn btn-xs btn-danger dz-cancel"><i
                                                        class="demo-pli-cross"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--===================================================-->
                            <!--End Horizontal Form-->

                        </div>
                        <button id="submit" class="btn btn-success">提交</button>
                    </div>
                </div>

            </div>
            <!--===================================================-->
            <!--End page content-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->


    </div>


    <!-- FOOTER -->
    <!--===================================================-->

    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<div id="footerwrap">
    <div class="container">
        <h4><img src="https://i.imgur.com/qrRDHYM.png"
                 style="height: 56px;width: 56px;background-size: 100% 100%;margin-right: 20px">Created by <a href=""
                                                                                                              style="color: rgba(61, 201, 179, 0.8)">NJU
            IDigger</a> - Copyright 2018</h4>
    </div>
</div>
<script src="/finance/js/Applicant/Applicant-evaluation.js"></script>
<script>
    document.getElementById("model").href = "http://ipnet10.oss-cn-beijing.aliyuncs.com/%E6%96%87%E6%A1%A3%E6%A8%A1%E7%89%88/%E4%B8%93%E5%88%A9%E6%8A%80%E6%9C%AF%E8%AF%84%E4%BC%B0%E6%89%80%E9%9C%80%E8%B5%84%E6%96%99.doc";
</script>

</body>
</html>
