<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPNET-footer</title>

    <link href="/home/css/main.css" rel="stylesheet">
    <link href="/home/css/icomoon.css" rel="stylesheet">
    <link href="/home/css/animate-custom.css" rel="stylesheet">
    <link href="/home/css/bootstrap.css" rel="stylesheet">

</head>
<body>

<!-- #底部 --><!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider textdivider divider6" style="background:url('https://i.imgur.com/rXfMRUl.jpg');">
    <div class="container">
        <h1>CRAFTED IN NAN JING, NanJing University.</h1>
        <hr>
        <p>
            Some Address 地址,
        </p>
        <p>
            +联系方式
        </p>
        <p>
            <a class="icon fab fa-qq" href="#" style="color: rgba(61, 201, 179, 0.8)"></a> | <a class="icon fab fa-weixin" href="#" style="color: rgba(61, 201, 179, 0.8)"></a>
        </p>
    </div>
</section><!-- section -->
<div class="container" id="contact" name="contact">
    <div class="row">
        <br>
        <h1 class="centered">欢迎联系我们</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-4">
            <h3>联系方式</h3>
            <p>
                <span class="icon fas fa-home"></span> 南京市栖霞区, 南京大学<br/>
                <span class="icon fas fa-phone"></span> +固话联系方式 <br/>
                <span class="icon fas fa-mobile-alt"></span> +手机联系方式 <br/>
                <span class="icon far fa-envelope"></span><a href="#" style="color: rgba(61, 201, 179, 0.8)"> 邮箱</a><br/>
                <span class="icon fab fa-qq"></span><a href="#" style="color: rgba(61, 201, 179, 0.8)"> qq </a><br/>
                <span class="icon fab fa-weixin"></span><a href="#" style="color: rgba(61, 201, 179, 0.8)"> 微信 </a><br/>
            </p>
        </div>
        <!-- col -->
        <div class="col-lg-4">
            <h3>您的宝贵意见</h3>
            <p>
                如果您对我们的业务流程有疑问，或是您对我们的平台的服务有不满意的地方，请将您的邮箱和姓名发送给我们，我们将会第一时间联系您
            <p>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-4 control-label"></label>
                    <div class="col-lg-10">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text1" class="col-lg-4 control-label"></label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="text1" placeholder="姓名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
            </form>
            <!-- form -->
            </p>
        </div>
        <!-- col -->
        <div class="col-lg-4">
            <h3>支持我们</h3>
            <p>
                如果您对我们的平台的开发与维护并且您也是资深的技术人员，欢迎您加入我们的团队，一起参与我们团队对该平台的维护与开发工作
            </p>
        </div>
        <!-- col -->
    </div>
    <!-- row -->
</div>
<!-- container -->
<div id="footerwrap">
    <div class="container">
        <h4><img src="https://i.imgur.com/qrRDHYM.png" style="height: 56px;width: 56px;background-size: 100% 100%;margin-right: 20px">Created by <a href="" style="color: rgba(61, 201, 179, 0.8)">NJU IDigger</a> - Copyright 2018</h4>
    </div>
</div>

</body>
</html>