<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<meta name="keywords" content="Gradient Accordion Menu Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/ipnet_Login_v2/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>-->
</head>
<body>
<!-- 4.个人中心模块
太一UI：
（1）电子钱包：【待收款、充值（弹窗）、已失效、已完成】
（2）个人设置：安全设置、身份认证--协议（弹窗）、账户设置
（3）消息管理
（4）资料管理：合同、签名--编辑、添加（弹窗）、授权文件、
       信息公开程度设置、印章--编辑、新增（弹窗）、账单、证明文件、转让材料
（5）信息/我的专利池？：添加、编辑、详情
原型UE：
（1）个人信息：【账号信息、个人/企业信息】
（2）我的钱包：【余额、银行卡、积分】-->
<div class="main">
    <h1>个人中心</h1>
    <section class="ac-container">
        <div>
            <input id="ac-1" name="accordion-1" type="checkbox" />
            <label for="ac-1" class="grid1"><i></i>电子钱包</label>
            <article class="ac-small">
                <ul>
                    <li><a href="#">Bank Card1</a></li>
                    <li><a href="#">Bank Card2</a></li>
                </ul>
            </article>
        </div>
        <div>
            <input id="ac-2" name="accordion-1" type="checkbox" />
            <label for="ac-2" class="grid2"><i></i>个人信息</label>
            <article class="ac-small">
                <ul>
                    <li><a href="#">账户设置</a></li>
                    <li><a href="#">安全设置</a></li>
                    <li><a href="#">身份认证</a></li>
                </ul>
            </article>
        </div>
    </section>
</div>

</body>
</html>