<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>正在上链</title>
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

  
  
      <link rel="stylesheet" href="/load/css/style.css">
    <link rel="stylesheet" type="text/css" href="/tooltip/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/tooltip/css/htmleaf-demo.css">
    <link rel="stylesheet" href="/tooltip/css/style.css">
    <link rel="stylesheet" href="/tooltip/css/x0popup.min.css">
    <link rel="stylesheet" href="/tooltip/css/rainbow.monokai.css">
    <script type="text/javascript" src="/common/jquery.js"></script>
    <!--[if IE]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
<!--<div id="success-info">-->
    <!--&lt;!&ndash;<script>&ndash;&gt;-->
        <!--&lt;!&ndash;var script = document.createElement("script");&ndash;&gt;-->
        <!--&lt;!&ndash;script.type = "text/javascript";&ndash;&gt;-->
        <!--&lt;!&ndash;script.src = "/load/js/success.js";&ndash;&gt;-->
        <!--&lt;!&ndash;document.body.appendChild(script);&ndash;&gt;-->
    <!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--</div>-->
<div style="display: none" class="block-code-full">
					<pre><code data-language="javascript" id="code-6">x0p({
    title: '上链成功',
    text: '',
    animationType: 'slideDown',
    icon: 'ok',
    buttons: [],
    autoClose: 3000
});</code></pre>
</div>
  <h1 style="color: #000000;">正在上链，请稍候</h1>
  <svg viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
  <defs>
  
   <line class="mark" x1="0" y1="0" x2="0" y2="0" fill="none" stroke="#5BB4D8" stroke-miterlimit="10" stroke-linecap="none" stroke-width="12"/>
    
   </defs>
 <g class="container1"/>
 <g class="container2"/>

</svg>
  <script src='/load/js/TweenMax.min.js'></script>


    <script  src="/load/js/index.js"></script>


<div style="text-align:center;clear:both">
<!--<script src="/statics.js" type="text/javascript"></script>-->
</div>

</body>

<script src="/tooltip/js/x0popup.min.js"></script>
<script src="/tooltip/js/rainbow.min.js"></script>
<script src="/tooltip/js/rainbow.linenumbers.min.js"></script>
<script  src="/load/js/success.js"></script>
</html>
