<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二维码</title>
    <link href="/common/bootstrap.min.css" rel="stylesheet">
    <link href="/home/css/main.css" rel="stylesheet">
    <link href="/home/css/icomoon.css" rel="stylesheet">
    <link href="/home/css/animate-custom.css" rel="stylesheet">
</head>
<body>
<div class="top col-md-12" style="height: 56px;background: #3b3e43;top: 0px;position: absolute">
    <img src="https://i.imgur.com/jwJTKCL.png" style="height: 56px;width: 56px;background-size: 100% 100%;margin-right: 20px">
    <span style="color: white;font-size: 15px">IPNET二维码</span>
</div>
<h1 style="text-align: center;margin-top: 80px">这里不会获取您的个人信息，请放心使用</h1>
<div class="row">
    <div class="col-md-6" style="display: inline-block">
        <img style="padding-left: 162px" src="http://ipnet10.oss-cn-beijing.aliyuncs.com/image/%E5%B0%8F%E7%A8%8B%E5%BA%8F.jpg">
       <p style="padding-left: 195px;font-size: 30px">小程序二维码</p>
    </div>
    <div class="col-md-6" style="display: inline-block">
        <img style="padding-left: 127px" src="http://ipnet10.oss-cn-beijing.aliyuncs.com/image/%E4%BA%8C%E7%BB%B4%E7%A0%81%E4%B8%93%E5%88%A9.png">
        <p style="padding-left: 229px;font-size: 30px">专利二维码</p>
        <p style="font-size: 30px">（请先扫小程序二维码登入小程序界面再进行扫码）</p>
    </div>
</div>
<div id="footerwrap" style="position: absolute;top: 84%;width: 100%">
    <div class="container">
        <h4><img src="https://i.imgur.com/qrRDHYM.png" style="height: 56px;width: 56px;background-size: 100% 100%;margin-right: 20px">Created by <a href="" style="color: rgba(61, 201, 179, 0.8)">NJU IDigger</a> - Copyright 2018</h4>
    </div>
</div>
</body>
</html>