<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>IPNET专利交易大厅</title><!-- This site is optimized with the Yoast SEO plugin v7.8 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel='stylesheet' id='contact-form-7-css' href='/home/css/styles.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='newspaper-x-fonts-css' href='//fonts.googleapis.com/css?family=Droid+Serif%3A400%2C700%7CNunito+Sans%3A300%2C400%2C700%2C900%7CSource+Sans+Pro%3A400%2C700&#038;ver=1.2.9' type='text/css' media='all'/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel='stylesheet' id='bootstrap-css' href='/common/bootstrap.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='bootstrap-theme-css' href='/common/bootstrap-theme.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='newspaper-x-stylesheet-css' href='/search/css/style.css' type='text/css' media='all'/>
    <style id='newspaper-x-stylesheet-inline-css' type='text/css'>
        .newspaper-x-header-widget-area{
            background: #0e0e11;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/search/css/new_reset.css">
    <link rel="stylesheet" type="text/css" href="/search/css/business_list.css">
    <link rel="stylesheet" type="text/css" href="/search/css/choose_range_trade.css">

    <link rel='stylesheet' id='owl.carousel-css' href='/home/css/carousel.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='owl.carousel-theme-css' href='/home/css/default.css' type='text/css' media='all'/>
    <script src="/common/jquery.js"></script>
    <script type='text/javascript' src='/home/js/frontend.min.js'></script>
    <script type='text/javascript' src='/home/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/home/js/blazy.min.js'></script>
    <link href="/home/css/main.css" rel="stylesheet">
    <link href="/home/css/icomoon.css" rel="stylesheet">
    <link href="/home/css/animate-custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/home/css/head.css">

    <script type="text/javascript" src="/frame/head/js/bootsnav.js"></script>
    <link rel="stylesheet" type="text/css" href="/frame/head/css/bootsnav.css">
    <link rel="stylesheet" type="text/css" href="/frame/head/css/user_nav.css">
    <script type="text/javascript" src="/search/controller/search_product_controller.js"></script>


    <style type="text/css">
        .navbar-brand{
            padding: 29px 15px;
            height: auto;
        }
        nav.navbar.bootsnav{
            border: none;
            margin-bottom: 150px;
        }
        .navbar-nav{
            float: left;
        }
        nav.navbar.bootsnav ul.nav > li > a{
            color: #474747;
            text-transform: uppercase;
            padding: 30px;
        }
        nav.navbar.bootsnav ul.nav > li:hover{
            background: #474747;
        }
        .nav > li:after{
            content: "";
            width: 0;
            height: 5px;
            background: #34c9dd;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 0.5s ease 0s;
        }
        .nav > li:hover:after{
            width: 100%;
        }
        nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
            content: "+";
            font-family: 'FontAwesome';
            font-size: 16px;
            font-weight: 500;
            position: absolute;
            top: 35%;
            right: 10%;
            transition: all 0.4s ease 0s;
        }
        nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{
            content: "\f105";
            transform: rotate(90deg);
        }
        .dropdown-menu.multi-dropdown{
            position: absolute;
            left: -100% !important;
        }
        .dropdown-menu li{
            background: #3b3e43;
        }
        nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border: none;
        }
        @media only screen and (max-width:990px){
            nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after,
            nav.navbar.bootsnav ul.nav > li.dropdown.on > a.dropdown-toggle:after{ content: " "; }
            .dropdown-menu.multi-dropdown{ left: 0 !important; }
            nav.navbar.bootsnav ul.nav > li:hover{ background: transparent; }
            nav.navbar.bootsnav ul.nav > li > a{ margin: 0; }
        }
        .input-group-addon{
            height: 34px;}
    </style>

    <link rel="stylesheet" type="text/css" href="/search/css/bootstrap-datepicker3.css">
    <script type="text/javascript" src="/search/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/search/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>

</head>
<body class="search search-results wp-custom-logo hfeed" style="background: white">

<div id="page" class="site">
    <header id="masthead" class="site-header" role="banner">
        <div class="demo" style="padding-top: 0px;height: 80px;">
            <div class="container" style="width: 100%;height: 80px;background: #3b3e43;">
                <div class="row" style="height: 50px;">
                    <div class="col-md-12" style="height: 50px;">
                        <nav class="navbar navbar-default navbar-mobile bootsnav nav" style="background: #3b3e43">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-menu" >
                                <img src="https://i.imgur.com/jwJTKCL.png" style="margin-top: 11px;margin-bottom: 11px;position: absolute;left: 20px;height: 56px;width: 56px;background-size: 100% 100%;margin-right: 20px">
                                <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp" style="left: 100px;position: absolute">
                                    <li><a href="#" style="color: white;">主页</a></li>
                                    <li><a href="#" style="color: white;">专利交易</a></li>
                                    <li class="dropdown">
                                        <a href="/ipnet/Person-IP-list" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">专利管理</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" style="color: white;">个人专利管理</a></li>
                                            <li><a href="#" style="color: white;">专利池管理</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">专利金融服务</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" style="color: white;">专利评估</a></li>
                                            <li><a href="#" style="color: white;">专利质押</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#" style="color: white;">个人中心</a></li>
                                    <li><a href="#" style="color: white;">IPNET社区</a></li>
                                </ul>
                                <a id="aNotifications" class="tooltipped tooltipped__w " aria-label="消息" style="position: absolute;left: 1100px;margin-top: 26px">
                                    <span class="has-point"></span>
                                    <i class="fas fa-bell" style="color: white;font-size: 22px"></i>
                                </a>
                                <a href="javascript:void(0)" id="aPersonListPanel" class="tooltipped tooltipped__w" aria-label="您" style="position: absolute;left: 1140px;height: 27px;width: 27px;margin-top: 23px">
                                    <span class="avatar-small" style="background-image: url('https://i.imgur.com/ova4597.png')"></span>
                                </a>
                                <span style="position: absolute;left: 1170px;color: white;margin-top: 26px">Mike</span>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="headfooter" >
                <div class="headfootercontent" style="height: 0px">
                    <h1 class="hfcb"><a href="" style="background: url('https://i.imgur.com/jwJTKCL.png') no-repeat center;background-size: 100% 100%;width: 106px;margin-left: 100px"></a></h1>

                    <div class="top_m_m">
                        <div class="free_requirment">
                            <a target="_blank" class="free_a" href="/ipnet/Applicant-patentEntry" ><i class="fas fa-hand-holding-usd"></i>&nbsp;我有专利出售</a>
                            <div class="one_btn_publish">
                                <a target="_blank"><i class="fas fa-cloud-upload-alt"></i>&nbsp;发布求购信息</a>
                            </div>
                        </div>
                        <div class="top_m_m_t">
                            <a style="float:left;" class="navzise" href="javascript:void(0)" onClick="Submit(0)" id="all">专利</a>
                            <a style="float:left;" class="heise" href="javascript:void(0)" id="xq" onClick="Submit(4)">运营商</a>
                            <a style="float:left;" class="heise" href="javascript:void(0)" onClick="Submit(2)" id="pr">买方需求</a>

                            <!-- <a class="heise" href="javascript:void(0)" onClick="Submit(2)" id="fw">服务</a> -->
                        </div>
                        <div class="top_m_m_b">
                            <div id="form_search">
                                <input type="hidden" value="0" id="flag" name="flag">
                                <input type="text" value="" class="formcontrol" name="keyword" id="tags" placeholder="请输入专利名称关键字或专利号">
                                <div class="formsousuo" id="search_btn" onclick="search_keyword()" style="background-color: #0a396d"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            $(".free_requirment").hover(function(){
                $(this).find(".one_btn_publish").show();
            },function(){
                $(this).find(".one_btn_publish").hide();
            })

            function Submit(type) {
                if (type == "0") {
                    $("#flag").val(type);

                    $("#xq").removeClass('navzise');
                    $("#xq").addClass('heise');

                    $("#pr").removeClass('navzise');
                    $("#pr").addClass('heise');

                    $("#dp").removeClass('navzise');
                    $("#dp").addClass('heise');

                    $("#all").removeClass('heise');
                    $("#all").addClass('navzise');
                    $(".formcontrol").removeAttr('placeholder');
                    $(".formcontrol").attr('placeholder','请输入专利名称关键字或专利号');

                }
                if (type == "2") {
                    $("#flag").val(type);
                    $("#pr").removeClass('heise');
                    $("#pr").addClass('navzise');

                    $("#xq").removeClass('navzise');
                    $("#xq").addClass('heise');

                    $("#dp").removeClass('navzise');
                    $("#dp").addClass('heise');

                    $("#all").removeClass('navzise');
                    $("#all").addClass('heise');
                    $(".formcontrol").removeAttr('placeholder');
                    $(".formcontrol").attr('placeholder','请输入需求关键字');

                }
                if (type == "3") {
                    $("#flag").val(type);
                    $("#dp").removeClass('heise');
                    $("#dp").addClass('navzise');

                    $("#xq").removeClass('navzise');
                    $("#xq").addClass('heise');

                    $("#pr").removeClass('navzise');
                    $("#pr").addClass('heise');

                    $("#all").removeClass('navzise');
                    $("#all").addClass('heise');
                    $(".formcontrol").removeAttr('placeholder');
                    $(".formcontrol").attr('placeholder','请输入运营商关键字');
                }
                if (type == "4") {
                    $("#flag").val(type);
                    $("#xq").removeClass('heise');
                    $("#xq").addClass('navzise');
                    $("#pr").removeClass('navzise');
                    $("#pr").addClass('heise');
                    $("#dp").removeClass('navzise');
                    $("#dp").addClass('heise');
                    $("#all").removeClass('navzise');
                    $("#all").addClass('heise');
                    $(".formcontrol").removeAttr('placeholder');
                    $(".formcontrol").attr('placeholder','请输入运营商关键字');
                }
            }
        </script>

        <div class="banner search_parameter_p_url" style="background: transparent;height: 300px;">
        </div>
        <!-- 下面所有内容 -->
        <div class="all_content" style="background: white">
            <!-- 服务选择 -->
            <div class="service_choose" style="top: -280px;">
                <ul class="publicblock screen">
                    <li style="padding-right: 0px;margin-right: 0px;width: 100%">
                        <dt>
                            <h2>专利类型</h2>
                        </dt>
                        <dd style="width:1000px;">
                            <a class="on type_tag">不限</a><a class="type_tag">发明专利</a><a class="type_tag">实用新型</a><a class="type_tag">外观设计</a>
                        </dd>
                    </li>
                    <li style="padding-right: 0px;margin-right: 0px;width: 100%">
                        <dt>
                            <h2>所在地区</h2>
                        </dt>
                        <dd style="width:1000px;">
                            <a class="on region_tag">不限</a><a class="region_tag">中国</a><a class="region_tag">港澳台</a><a class="region_tag">欧洲</a><a class="region_tag">美国</a><a class="region_tag">日本</a><a class="region_tag">英国</a><a class="region_tag">法国</a><a class="region_tag">俄罗斯</a><a class="region_tag">韩国</a><a class="region_tag">德国</a><a class="region_tag">瑞士</a><a class="region_tag">意大利</a><a class="region_tag">其他</a>
                        </dd>
                    </li>
                    <li style="padding-right: 0px;margin-right: 0px;width: 100%">
                        <dt>
                            <h2>专利状态</h2>
                        </dt>
                        <dd style="width:1000px;">
                            <a class="on state_tag">不限</a><a class="state_tag">闲置</a><a class="state_tag">申请许可</a><a class="state_tag">转让过程中</a><a class="state_tag">申请质押贷款过程中</a><a class="state_tag">质押过程中</a><a class="state_tag">待审核</a><a class="state_tag">逾期</a>
                        </dd>
                    </li>
                    <li style="padding-right: 0px;margin-right: 0px;width: 100%">
                        <dt>
                            <h2>申请时间</h2>
                        </dt>
                        <dd style="width:1000px;display: inline-block;padding-top: 10px;padding-bottom: 0px">
                            <span style="display: inline-block;">起始时间：</span>
                            <div class="input-group date datepicker" style="width: 150px;display: inline-block">
                                <input type="text" class="form-control" id="apply_begin_time">
                                <div class="input-group-addon" style="display: none">
                                    <span class=""><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <span style="display: inline-block;">结束时间：</span>
                            <div class="input-group date datepicker" style="width: 150px;display: inline-block">
                                <input type="text" class="form-control" id="apply_end_time">
                                <div class="input-group-addon" style="display: none">
                                    <span class=""><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <button type="submit" id="search_apply_time" class="btn btn-success" style="display: inline-block;position:absolute;top:10px;margin-left:20px">重新检索</button>
                        </dd>
                    </li>
                    <li style="padding-right: 0px;margin-right: 0px;width: 100%">
                        <dt>
                            <h2>有效期限</h2>
                        </dt>
                        <dd style="width:1000px;display: inline-block;padding-top: 10px;padding-bottom: 0px">
                            <span style="display: inline-block;">起始时间：</span>
                            <div class="input-group date datepicker" style="width: 150px;display: inline-block">
                                <input type="text" class="form-control" id="valid_begin_time">
                                <div class="input-group-addon" style="display: none">
                                    <span class=""><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <span style="display: inline-block;">结束时间：</span>
                            <div class="input-group date datepicker" style="width: 150px;display: inline-block">
                                <input type="text" class="form-control" id="valid_end_time">
                                <div class="input-group-addon" style="display: none">
                                    <span class=""><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <button type="submit" id="search_valid_time" class="btn btn-success" style="display: inline-block;position:absolute;top:10px;margin-left:20px">重新检索</button>
                        </dd>
                    </li>
                </ul>
                <script type="text/javascript">
                    $(".picScroll-top").slide({
                        mainCell: ".bd ul",
                        autoPage: true,
                        effect: "topLoop",
                        autoPlay: true,
                        vis: 4,
                        delayTime: 1000
                    });
                </script>
            </div>
            <!-- 排序 -->
            <div class="sorting" style="background: white;display: none">
                <a href="javascript:search('2','10');" class="comprehensive on" rel="nofollow">浏览最多排序
                    <i class="sta2"></i>
                </a>
                <a href="javascript:search('3','10');" class="price " rel="nofollow">价格排序
                    <i class="sta1"></i>
                </a>
                <a href="javascript:search('5','10');" class="price " rel="nofollow">时间排序
                    <i class="sta1"></i>
                </a>
            </div>
        </div>
    </header><!-- #masthead -->
    <div id="content" class="site-content container">
        <div class="row">
            <header class="col-xs-12">
                <h3 class="page-title">
                    <span>搜索结果：<span>1</span></span>
                </h3>
            </header><!-- .page-header -->
        </div>
        <div class="row">
            <div id="primary" class="newspaper-x-content newspaper-x-archive-page col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <main id="main" class="site-main" role="main">
                </main><!-- #main -->
            </div>
            <!-- #primary -->
            <div class="publicblock list-page">
                <a href="javascript:;" class="frist">首页</a><a class="active" href="javascript:;">1</a><a href="/psearch/s----------1-2.html">2</a><a href="/psearch/s----------1-3.html">3</a><a href="/psearch/s----------1-4.html">4</a><a href="/psearch/s----------1-5.html">5</a><a href="/psearch/s----------1-6.html">6</a><a href="/psearch/s----------1-7.html">7</a><a href="/psearch/s----------1-8.html">8</a><a class="end" href="/psearch/s----------1-2.html">下一页</a>
            </div>
        </div>
    </div>
    <!-- #content -->

    <!-- #content --><!-- ==== SECTION DIVIDER6 ==== --><section class="section-divider textdivider divider6" style="background:url('https://i.imgur.com/rXfMRUl.jpg');">
    <div class="container">
        <h1>CRAFTED IN NAN JING, NanJing University.</h1>
        <hr>
        <p>
            Some Address 地址,
        </p>
        <p>
            +联系方式
        </p>
        <p>
            <a class="icon fab fa-qq" href="#" style="color: rgba(61, 201, 179, 0.8)"></a> | <a class="icon fab fa-weixin" href="#" style="color: rgba(61, 201, 179, 0.8)"></a>
        </p>
    </div>
    <!-- container --></section><!-- section -->
    <div class="container" id="contact" name="contact">
        <div class="row">
            <br>
            <h1 class="centered">欢迎联系我们</h1>
            <hr>
            <br>
            <br>
            <div class="col-lg-4">
                <h3>联系方式</h3>
                <p>
                    <span class="icon fas fa-home"></span> 南京市栖霞区, 南京大学<br/>
                    <span class="icon fas fa-phone"></span> +固话联系方式 <br/>
                    <span class="icon fas fa-mobile-alt"></span> +手机联系方式 <br/>
                    <span class="icon far fa-envelope"></span><a href="#" style="color: rgba(61, 201, 179, 0.8)"> 邮箱</a><br/>
                    <span class="icon fab fa-qq"></span><a href="#" style="color: rgba(61, 201, 179, 0.8)"> qq </a><br/>
                    <span class="icon fab fa-weixin"></span><a href="#" style="color: rgba(61, 201, 179, 0.8)"> 微信 </a><br/>
                </p>
            </div>
            <!-- col -->
            <div class="col-lg-4">
                <h3>您的宝贵意见</h3>
                <p>
                    如果您对我们的业务流程有疑问，或是您对我们的平台的服务有不满意的地方，请将您的邮箱和姓名发送给我们，我们将会第一时间联系您
                <p>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-4 control-label"></label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="inputEmail1" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text1" class="col-lg-4 control-label"></label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="text1" placeholder="姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-success">Send</button>
                        </div>
                    </div>
                </form>
                <!-- form -->
                </p>
            </div>
            <!-- col -->
            <div class="col-lg-4">
                <h3>支持我们</h3>
                <p>
                    如果您对我们的平台的开发与维护并且您也是资深的技术人员，欢迎您加入我们的团队，一起参与我们团队对该平台的维护与开发工作
                </p>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <div id="footerwrap">
        <div class="container">
            <h4>Created by <a href="" style="color: rgba(61, 201, 179, 0.8)">NJU IDigger</a> - Copyright 2018</h4>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function(){
        $('.datepicker').datepicker({
            language: 'zh-CN'
        });
    })
</script>

<!-- #page -->
<script type='text/javascript' src='/detail/js/scripts.js'></script>
<script type='text/javascript' src='/common/bootstrap.min.js'></script>
<script type='text/javascript' src='/detail/js/machothemes.min.js'></script>
<script type='text/javascript' src='/detail/js/functions.js'></script>
<script type='text/javascript' src='/detail/js/owl.carousel.min.js'></script>

</body>
</html>