<!DOCTYPE html>
<html lang="en">
<head>
    <title>IPNET - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/ipnet_Login_v2/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/css/util.css">
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/ipnet_Login_v2/css/css_Login/slidVeri.css">
    <style type="text/css">
        .zxx_list_title{background:#eeeeee; border:1px solid #cccccc; padding:1em;}
        .zxx_list_content{padding:1em;}
        #tinybox{position:absolute; display:none; padding:10px 50px; background:#e3e3e3 /*url(images/preload.gif) no-repeat 50% 50%*/; border:2px solid #9f9f9f; z-index:2000; border-radius: 100px;}
        #tinymask{position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000000; z-index:1500; border-radius: 12px;}
        #tinycontent{background:#e3e3e3; font-size:1.1em; font-family: "Microsoft YaHei", Poppins-Regular; border-radius: 12px;}
    </style>
    <script type="text/javascript" src="/ipnet_Login_v2/js/tinybox.js"></script>
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/ipnet_Login_v2/images/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Welcome to IPNET
					</span>
                <span class="login100-form-title p-b-48">
						<img src="https://i.imgur.com/jwJTKCL.png" alt="IPNET LOGO" height="35%" width="35%"/>
					</span>

                <div>
                    <p class="register-msg" id="err_msg" style="text-align: right"></p>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                    <input class="input100" type="text" name="email">
                    <span class="focus-input100" data-placeholder="邮箱"></span><!-- Email -->
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="密码"></span><!-- data-placeholder="Password" -->
                </div>

                <div id="dragContainer">
                    <div id="dragBg"></div>
                    <div id="dragText"></div>
                    <div id="dragHandler" class="dragHandlerBg"></div>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <!--<button class="login100-form-btn" id="loginConfirm_btn">
                            登录
                        </button>-->
                        <a class="login100-form-btn" href="#" id="loginConfirm_btn" onclick="loginMsgEmail();"><!-- onclick="loginConfirm()" -->
                            登录<!-- Login -->
                        </a>
                    </div>
                </div>
                <!--<script type="text/javascript">
                    T$('loginConfirm_btn').onclick = function(){
                        loginMsgEmail();  // 方法loginMsg()的定义见于js/loginEmail.js
                    }
                </script>-->

                <div class="text-center p-t-115">
                    <a class="txt1" href="/ipnet/login">手机号登录</a>
                    /
                    <a class="txt1" href="/ipnet/login_byEmail">[邮箱登录]</a>
                    <br /><br />
						<span class="txt1">
							没有账号？<!-- Don’t have an account? -->
						</span>

                    <a class="txt2" href="/ipnet/register"><!-- register_byEmail -->
                        <strong>去注册</strong><!-- <em>Sign Up</em> -->
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/ipnet_Login_v2/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/ipnet_Login_v2/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/ipnet_Login_v2/vendor/bootstrap/js/popper.js"></script>
<script src="/ipnet_Login_v2/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/ipnet_Login_v2/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/ipnet_Login_v2/vendor/daterangepicker/moment.min.js"></script>
<script src="/ipnet_Login_v2/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/ipnet_Login_v2/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/ipnet_Login_v2/js/main.js"></script>
<script src="/ipnet_Login_v2/js/loginEmail.js"></script>

</body>
</html>