<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="screen-orientation" content="portrait" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/contract/css/style.css">
    <link rel="stylesheet" href="/common/bootstrap.css">
    <link rel="stylesheet" href="/common/jquery-confirm.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/pay/css/rippler.css">
    <script type="text/javascript" src="/common/jquery.js"></script>
    <script type="text/javascript" src="/pay/js/jquery.rippler.js"></script>
    <script type="text/javascript" src="/common/bootstrap.min.js"></script>

    <title>IPNET专利权转让合同</title>

    <style>
        .input-class{width: 160px}
    </style>

</head>

<body>
<div class="manage-modal">
    <div class="flipbook-viewport">
        <div class="container">
            <div class="flipbook">
                <div>
                    <div class="fm-top">
                    </div>
                    <div class="fm-title">专利实施许可合同</div>
                    <div class="fm-sign">
                        <label>甲方(受让方)：</label>
                        <input id="o1" class="input-class fm-input" type="text">
                    </div>
                    <div class="fm-sign">
                        <label>法定代表人：</label>
                        <input id="o2" class="input-class fm-input" type="text">
                    </div>
                    <div class="fm-sign">
                        <label>乙方(让与方)：</label>
                        <input id="o3" class="input-class fm-input" type="text">
                    </div>
                    <div class="fm-sign">
                        <label>法定代表人：</label>
                        <input id="o4" class="input-class fm-input" type="text">
                    </div>
                    <div class="fm-footer">
                        <p>中华人民共和国专利局监制</p>
                    </div>
                </div>
                <div>
                    <div class="manage-page">
                        <div class="fm-sign">
                            <label> 本合同签约各方就本合同书中所述专利权转让、技术内容、成果权益、费用支付、违约责任以及与之相关的技术及其资料等内容经过平等协商，在真实、充分地表达各自意愿的基础上，根据《中华人民共和国合同法》和《中华人民共和国专利法》之规定，达成如下协议，由签约各方共同恪守。</label>
                        </div>
                        <p>第一条<span>&nbsp;&nbsp;</span>签约时间和地点</p>
                        <p>本合同由上述签约方于<input id="o5" class="input-class fm-input" type="text">年<input id="o6" class="input-class fm-input" type="text">月<input id="o7" class="input-class fm-input" type="text">日在<input id="o8" class="input-class fm-input" type="text">签订。平台自动输入</p>
                        <p>第二条<span>&nbsp;&nbsp;</span>合同性质</p>
                        <p>本合同属于专利权转让合同。</p>
                        <p>第三条<span>&nbsp;&nbsp;</span>项目名称</p>
                        <p>获得专利权的发明/实用新型/外观设计名称全称：<input id="o9" class="input-class fm-input" type="text">。</p>
                        <p>第四条<span>&nbsp;&nbsp;</span>专利状况</p>
                        <p>1、本合同转让的专利技术属于：<input id="o10" class="input-class fm-input" type="text">。</p>
                        <p>2、专利权人：<input id="o11" class="input-class fm-input" type="text">。</p>
                        <p>3、发明人/设计人：<input id="o12" class="input-class fm-input" type="text">。</p>
                        <p>4、专利授权日：<input id="o13" class="input-class fm-input" type="text">。</p>
                        <p>5、专利号：<input id="o14" class="input-class fm-input" type="text">。</p>
                        <p>6、专利有效期限：<input id="o15" class="input-class fm-input" type="text">。</p>
                        <p>7、专利年费已交至<input id="o16" class="input-class fm-input" type="text">年。</p>
                    </div>
                </div>
                <div>
                    <div class="manage-page">
                        <p>第五条<span>&nbsp;&nbsp;</span>专利有效保证</p>
                        <p>1、让与方保证上述第五条技术内容的真实性、其转让的专利权的合法有效性。</p>
                        <p>2、让与方对本合同生效后专利权被撤消、宣告无效不承担法律责任。</p>
                        <p>第六条<span>&nbsp;&nbsp;</span>专利实施情况</p>
                        <p>1、让与方自行实施专利技术的情况：</p>
                        <p>1、让与方自行实施专利技术的情况：</p>
                        <p>(1)时间：<input id="o17" class="input-class fm-input" type="text">。</p>
                        <p>(2)范围：<input id="o18" class="input-class fm-input" type="text">。</p>
                        <p>(3)方式：<input id="o19" class="input-class fm-input" type="text">。</p>
                        <p>第七条<span>&nbsp;&nbsp;</span>原专利实施许可的履行</p>
                        <p>1、受让人应当在本合同生效后，保证原专利实施合同的履行，并接受原专利实施许可合同中让与方的权利与义务。</p>
                        <p>2、让与人保证已经将本专利权的转让告知原实施许可合同的当事人。</p>
                        <p>第八条<span>&nbsp;&nbsp;</span>专利技术资料</p>
                        <p>(1)资料内容：<input id="o20" class="input-class fm-input" type="text">。</p>
                        <p>第九条<span>&nbsp;&nbsp;</span>费用及支付方式</p>
                        <p>1、本合同费用总额为<input id="o21" class="input-class fm-input" type="text">元。</p>
                        <p>2、本合同费用，按一次支付方式支付</p>
                        <p>第十条<span>&nbsp;&nbsp;</span>违约责任</p>
                    </div>
                </div>
                <div>
                    <div class="manage-page">
                        <p class="wrap">1、任何签约方违反本合同第<input id="o22" class="input-class fm-input" type="text">条、第<input id="o23" class="input-class fm-input" type="text">条、第<input id="o24" class="input-class fm-input" type="text">条、第<input id="o25" class="input-class fm-input" type="text">条、第<input id="o26" class="input-class fm-input" type="text">条中的任何一条，按以下第<input id="o27" class="input-class fm-input" type="text">种方式承担违约责任：</p>
                        <p>(1)支付<input id="o28" class="input-class fm-input" type="text">元违约金。</p>
                        <p>(2)按合同总标的<input id="o29" class="input-class fm-input" type="text">%支付违约金。</p>
                        <p>(3)按实际损失支付赔偿金；实际损失的范围和计算方法为：<input id="o30" class="input-class fm-input" type="text">。</p>
                        <p>(4)其他计算方式：<input id="o31" class="input-class fm-input" type="text">。</p>
                        <p>2、违约方承担违约责任后，签约方约定本合同内容：<input id="o32" class="input-class fm-input" type="text">。</p>
                        <p>第十一条<span>&nbsp;&nbsp;</span>争议的解决办法</p>
                        <p>1、签约各方因履行合同发生争议，应协商解决；</p>
                        <p>2、协商解决不成，签约方同意采用以下第<input id="o33" class="input-class fm-input" type="text">种方式解决纠纷：</p>
                        <p>(1)申请由<input id="o34" class="input-class fm-input" type="text">仲裁委员会仲裁 。</p>
                        <p>(2)向有管辖权的人民法院起诉。</p>
                        <p>第十二条<span>&nbsp;&nbsp;</span>名词解释</p>
                        <p>为避免签约各方理解上的分歧，签约方对本合同及相关补充内容中涉及的有关名词及技术术语，特作如下确认：</p>
                        <p>第十三条<span>&nbsp;&nbsp;</span>补充约定</p>
                        <p>其他需要补充约定的内容：<input id="o35" class="input-class fm-input" type="text"></p>
                    </div>
                </div>
                <div>
                    <div class="manage-page">
                        <p>第十四条<span>&nbsp;&nbsp;</span>合同生效</p>
                        <p>1、本合同一式三份，经签约各方签字盖章后，由<input id="o36" class="input-class fm-input" type="text">由双方选择是否经由运营商<input id="o37" class="input-class fm-input" type="text">负责办理专利权转让合同的登记和公告事宜。</p>
                        <p>2、本合同以国家知识产权局专利局的公告日为合同生效日。</p>
                    </div>
                </div>
                <div>
                    <div class="manage-page">
                        <p>(受让方)：</p>
                        <p>法定住址：<input id="o38" class="input-class" type="text" value="" style="width: 150px"></p>
                        <p>法定代表人：<input id="o39" class="input-class" type="text" value="" style="width: 100px">职务：<input id="o40" class="input-class" type="text" value="" style="width: 100px"></p>
                        <p>委托代理人：<input id="o41" class="input-class" type="text" value=""  style="width: 150px"></p>
                        <p>身份证号码：<input id="o42" class="input-class" type="text" value=""  style="width: 150px"></p>
                        <p>通讯地址：<input id="o43" class="input-class" type="text" value=""></p>
                        <p>邮政编码：<input id="o44" class="input-class" type="text" value=""  style="width: 150px"></p>
                        <p>联系人：<input id="o45" class="input-class" type="text" value=""></p>
                        <p>电话：<input id="o46" class="input-class" type="text" value=""></p>
                        <p>传真：<input id="o47" class="input-class" type="text" value=""></p>
                        <p>账号：<input id="o48" class="input-class" type="text" value=""></p>
                        <p>电子邮箱：<input id="o49" class="input-class" type="text" value=""></p>
                        <p>(让与方)：</p>
                        <p>法定住址：<input id="o50" class="input-class" type="text" value="" style="width: 150px"></p>
                        <p>法定代表人：<input id="o51" class="input-class" type="text" value="" style="width: 100px">职务：<input id="o52" class="input-class" type="text" value="" style="width: 100px"></p>
                        <p>委托代理人：<input id="o53" class="input-class" type="text" value=""  style="width: 150px"></p>
                        <p>身份证号码：<input id="o54" class="input-class" type="text" value=""  style="width: 150px"></p>
                        <p>通讯地址：<input id="o55" class="input-class" type="text" value=""></p>
                        <p>邮政编码：<input id="o56" class="input-class" type="text" value=""  style="width: 150px"></p>
                        <p>联系人：<input id="o57" class="input-class" type="text" value=""></p>
                        <p>电话：<input id="o58" class="input-class" type="text" value=""></p>
                        <p>传真：<input id="o59" class="input-class" type="text" value=""></p>
                        <p>账号：<input id="o60" class="input-class" type="text" value=""></p>
                        <p>电子邮箱：<input id="o61" class="input-class" type="text" value=""></p>
                    </div>
                </div>
                <div>
                    <div class="manage-page" id="signPage">
                        <p class="page-title wrap">
                            签字页
                        </p>
                        <div class="party party-a" style="height: 70%">
                            <div style="height: 182px">
                                <div class="fm-sign">
                                    <p class="wrap">(转让方盖章)</p>
                                    <!--<button class="seal">盖章</button>-->
                                    <!--<button class="qx-seal">取消</button>-->
                                </div>
                                <div class="box" style="display: block;margin-top: 0px;margin-bottom: 5px">
                                    <span class="letter1"></span>
                                    <span class="letter2"></span>
                                    <span class="letter3"></span>
                                    <span class="letter4"></span>
                                    <span class="letter5"></span>
                                    <span class="letter6"></span>
                                    <span class="letter7"></span>
                                    <span class="letter8"></span>
                                    <span class="letter9"></span>
                                    <span class="letter10"></span>
                                    <span class="letter11"></span>
                                    <span class="letter12"></span>
                                    <span class="letter13"></span>
                                </div>
                            </div>
                            <div style="height: 182px">
                                <div class="fm-sign">
                                    <p class="wrap">(法人代表盖章)</p>
                                    <!--<button class="seal">盖章</button>-->
                                    <!--<button class="qx-seal">取消</button>-->
                                </div>
                                <div class="box" style="display: block;margin-top: 0px;margin-bottom: 5px">
                                    <span class="letter1"></span>
                                    <span class="letter2"></span>
                                    <span class="letter3"></span>
                                    <span class="letter4"></span>
                                    <span class="letter5"></span>
                                    <span class="letter6"></span>
                                    <span class="letter7"></span>
                                    <span class="letter8"></span>
                                    <span class="letter9"></span>
                                    <span class="letter10"></span>
                                    <span class="letter11"></span>
                                    <span class="letter12"></span>
                                    <span class="letter13"></span>
                                </div>
                            </div>
                            <div class="fm-sign">
                                <label>签订日期:</label>
                                <input class="input-class year" type="text" style="width: 25px">年
                                <input class="input-class date" type="text" style="width: 25px">月
                                <input class="input-class date" type="text" style="width: 25px">日
                            </div>

                        </div>
                        <div class="party party-b" style="height: 70%">
                            <div style="height: 182px">
                                <div class="fm-sign">
                                    <p class="wrap">(让与方盖章)</p>
                                    <!--<button class="seal">盖章</button>-->
                                    <!--<button class="qx-seal">取消</button>-->
                                </div>
                                <div class="box" style="display: block;margin-top: 0px;margin-bottom: 5px">
                                    <span class="letter1"></span>
                                    <span class="letter2"></span>
                                    <span class="letter3"></span>
                                    <span class="letter4"></span>
                                    <span class="letter5"></span>
                                    <span class="letter6"></span>
                                    <span class="letter7"></span>
                                    <span class="letter8"></span>
                                    <span class="letter9"></span>
                                    <span class="letter10"></span>
                                    <span class="letter11"></span>
                                    <span class="letter12"></span>
                                    <span class="letter13"></span>
                                </div>
                            </div>
                            <div style="height: 182px">
                                <div class="fm-sign">
                                    <p class="wrap">(法人代表盖章)</p>
                                    <!--<button class="seal">盖章</button>-->
                                    <!--<button class="qx-seal">取消</button>-->
                                </div>
                                <div class="box" style="display: block;margin-top: 0px;margin-bottom: 5px">
                                    <span class="letter1"></span>
                                    <span class="letter2"></span>
                                    <span class="letter3"></span>
                                    <span class="letter4"></span>
                                    <span class="letter5"></span>
                                    <span class="letter6"></span>
                                    <span class="letter7"></span>
                                    <span class="letter8"></span>
                                    <span class="letter9"></span>
                                    <span class="letter10"></span>
                                    <span class="letter11"></span>
                                    <span class="letter12"></span>
                                    <span class="letter13"></span>
                                </div>
                            </div>
                            <div class="fm-sign">
                                <label>签订日期:</label>
                                <input class="input-class year" type="text" style="width: 25px">年
                                <input class="input-class date" type="text" style="width: 25px">月
                                <input class="input-class date" type="text" style="width: 25px">日
                            </div>
                        </div>
                        <div class="col-md-8" style="margin-left: auto;margin-right: auto">
                            <button id="write_done" onclick="done()" class="btn btn-default rippler rippler-inverse confirm_pay" href="#"  style="margin-left: 150px;background: #eadbaa">
                                <span><i class="fas fa-check"></i></span>&nbsp;草拟完成
                            </button>
                            <button id="agree" onclick="agree()" class="btn btn-default rippler rippler-inverse cancel_pay" href="#"  style="background: #eadbaa;display: none;margin-left: 150px">
                                <span><i class="fas fa-check"></i></span>&nbsp;同意合同
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <button class="prev-btn"></button>
        <button class="next-btn"></button>
    </div>

</div>

<script type="text/javascript" src="/common/jquery.js"></script>
<script type="text/javascript" src="/contract/js/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="/common/jquery-confirm.js"></script>
<script type="text/javascript">


    $(document).ready(function(){
        if(localStorage.getItem("write_or_agree")=="agree") {
            $("#agree").show();
            $("#write_done").hide();
            var temp = JSON.parse(localStorage.getItem("ownership_trade_contract"));
            $("#o1").val(temp.o1);
            $("#o2").val(temp.o2);
            $("#o3").val(temp.o3);
            $("#o4").val(temp.o4);
            $("#o5").val(temp.o5);
            $("#o6").val(temp.o6);
            $("#o7").val(temp.o7);
            $("#o8").val(temp.o8);
            $("#o9").val(temp.o9);
            $("#o10").val(temp.o10);
            $("#o11").val(temp.o11);
            $("#o12").val(temp.o12);
            $("#o13").val(temp.o13);
            $("#o14").val(temp.o14);
            $("#o15").val(temp.o15);
            $("#o16").val(temp.o16);
            $("#o17").val(temp.o17);
            $("#o18").val(temp.o18);
            $("#o19").val(temp.o19);
            $("#o20").val(temp.o20);
            $("#o21").val(temp.o21);
            $("#o22").val(temp.o22);
            $("#o23").val(temp.o23);
            $("#o24").val(temp.o24);
            $("#o25").val(temp.o25);
            $("#o26").val(temp.o26);
            $("#o27").val(temp.o27);
            $("#o28").val(temp.o28);
            $("#o29").val(temp.o29);
            $("#o30").val(temp.o30);
            $("#o31").val(temp.o31);
            $("#o32").val(temp.o32);
            $("#o33").val(temp.o33);
            $("#o34").val(temp.o34);
            $("#o35").val(temp.o35);
            $("#o36").val(temp.o36);
            $("#o37").val(temp.o37);
            $("#o38").val(temp.o38);
            $("#o39").val(temp.o39);
            $("#o40").val(temp.o40);
            $("#o41").val(temp.o41);
            $("#o42").val(temp.o42);
            $("#o43").val(temp.o43);
            $("#o44").val(temp.o44);
            $("#o45").val(temp.o45);
            $("#o46").val(temp.o46);
            $("#o47").val(temp.o47);
            $("#o48").val(temp.o48);
            $("#o49").val(temp.o49);
            $("#o50").val(temp.o50);
            $("#o51").val(temp.o51);
            $("#o52").val(temp.o52);
            $("#o53").val(temp.o53);
            $("#o54").val(temp.o54);
            $("#o55").val(temp.o55);
            $("#o56").val(temp.o56);
            $("#o57").val(temp.o57);
            $("#o58").val(temp.o58);
            $("#o59").val(temp.o59);
            $("#o60").val(temp.o60);
            $("#o61").val(temp.o61);
        }
    });

    function loadApp() {
        $('.flipbook').turn({
            width: 914,
            height: 643,
            elevation: 500,
            gradients: true,
            autoCenter: true

        });
    }
    yepnope({
        test: Modernizr.csstransforms,
        yep: ['/contract/js/turn.js'],
        nope: ['/contract/js/turn.html4.min.js'],
        both: ['/contract/css/basic.css'],
        complete: loadApp
    });

    $(".prev-btn").on("click", function (event) {
        $(".flipbook").turn("previous");
    });
    //上一页按钮
    $(".next-btn").on("click", function (event) {
        $(".flipbook").turn("next");
    });

    $('.seal').on('click', function () {
        var str = '可以自定义公司名称'; //假设公司名称
        var letter = str.split('');
        var o = 7 - Math.floor(letter.length / 2);
        $(this).parent().siblings('.box').children('span').html();
        for (var i = 0; i < letter.length; i++) {
            $(this).parent().siblings('.box').children('span').eq(o + i).html(letter[i]);
        }
        $(this).hide().siblings('.qx-seal').show().parent().siblings('.box').show();
    })

    $('.qx-seal').on('click', function () {
        $(this).hide().siblings('.seal').show().parent().siblings('.box').hide();
    })

    $('.disabled').find('input').attr('disabled', 'disabled');
    $('.disabled').find('.seal').attr('disabled', 'disabled');

    function done(){
        $.confirm({
            title: '确认完成草拟合同',
            content: '确认完成后将不可更改 <br> 请仔细核对合同款项',
            confirmButton: '确认草拟完成',
            cancelButton: '取消',
            confirmButtonClass: 'btn-info',
            icon: 'fa fa-question-circle',
            animation: 'rotate',
            closeAnimation: 'right',
            opacity: 0.5,
            confirm: function () {
                $.alert({
                    title: '草拟合同成功!',
                    content: '您已成功草拟此份合同，请耐心等待对方同意',
                    confirmButton: '我知道了',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm: function () {
                        var temp={
                            o1:$("#o1").val(),
                            o2:$("#o2").val(),
                            o3:$("#o3").val(),
                            o4:$("#o4").val(),
                            o5:$("#o5").val(),
                            o6:$("#o6").val(),
                            o7:$("#o7").val(),
                            o8:$("#o8").val(),
                            o9:$("#o9").val(),
                            o10:$("#o10").val(),
                            o11:$("#o11").val(),
                            o12:$("#o12").val(),
                            o13:$("#o13").val(),
                            o14:$("#o14").val(),
                            o15:$("#o15").val(),
                            o16:$("#o16").val(),
                            o17:$("#o17").val(),
                            o18:$("#o18").val(),
                            o19:$("#o19").val(),
                            o20:$("#o20").val(),
                            o21:$("#o21").val(),
                            o22:$("#o22").val(),
                            o23:$("#o23").val(),
                            o24:$("#o24").val(),
                            o25:$("#o25").val(),
                            o26:$("#o26").val(),
                            o27:$("#o27").val(),
                            o28:$("#o28").val(),
                            o29:$("#o29").val(),
                            o30:$("#o30").val(),
                            o31:$("#o31").val(),
                            o32:$("#o32").val(),
                            o33:$("#o33").val(),
                            o34:$("#o34").val(),
                            o35:$("#o35").val(),
                            o36:$("#o36").val(),
                            o37:$("#o37").val(),
                            o38:$("#o38").val(),
                            o39:$("#o39").val(),
                            o40:$("#o40").val(),
                            o41:$("#o41").val(),
                            o42:$("#o42").val(),
                            o43:$("#o43").val(),
                            o44:$("#o44").val(),
                            o45:$("#o45").val(),
                            o46:$("#o46").val(),
                            o47:$("#o47").val(),
                            o48:$("#o48").val(),
                            o49:$("#o49").val(),
                            o50:$("#o50").val(),
                            o51:$("#o51").val(),
                            o52:$("#o52").val(),
                            o53:$("#o53").val(),
                            o54:$("#o54").val(),
                            o55:$("#o55").val(),
                            o56:$("#o56").val(),
                            o57:$("#o57").val(),
                            o58:$("#o58").val(),
                            o59:$("#o59").val(),
                            o60:$("#o60").val(),
                            o61:$("#o61").val()
                        };
                        localStorage.setItem("ownership_trade_contract",JSON.stringify(temp));
                    }
                });
            }
        });
    }

    function agree(){
        $.confirm({
            title: '确认同意草拟合同',
            content: '确认同意后将无法返回 <br> 请仔细核对合同款项',
            confirmButton: '确认草拟完成',
            cancelButton: '取消',
            confirmButtonClass: 'btn-info',
            icon: 'fa fa-question-circle',
            animation: 'rotate',
            closeAnimation: 'right',
            opacity: 0.5,
            confirm: function () {
                $.alert({
                    title: '同意合同成功!',
                    content: '您已成功同意此份合同，合约完成',
                    confirmButton: '我知道了',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm:function(){

                    }
                })
            }
        });
    }

</script>
<script type="text/javascript" src="/contract/controller/ownership_controller.js"></script>

</body>
</html>