<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="screen-orientation" content="portrait" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="/contract/css/style.css">
	<link rel="stylesheet" href="/common/bootstrap.css">
	<link rel="stylesheet" href="/common/jquery-confirm.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="/pay/css/rippler.css">
	<script type="text/javascript" src="/common/jquery.js"></script>
	<script type="text/javascript" src="/pay/js/jquery.rippler.js"></script>
	<script type="text/javascript" src="/common/bootstrap.min.js"></script>

    <title>IPNET专利实施许可合同</title>

	<style>
		.input-class{width: 160px}
	</style>

</head>

<body>
<div class="manage-modal">
	<div class="flipbook-viewport">
		<div class="container">
			<div class="flipbook">
				<div>
					<div class="fm-top">
					</div>
					<div class="fm-title">专利实施许可合同</div>
					<div class="fm-sign">
						<label>甲方(许可方)：</label>
						<input id="u1" class="input-class fm-input" type="text">
					</div>
					<div class="fm-sign">
						<label>乙方(被许可方)：</label>
						<input id="u2" class="input-class fm-input" type="text">
					</div>
					<div class="fm-footer">
						<p>中华人民共和国专利局监制</p>
					</div>
				</div>
				<div>
					<div class="manage-page">
						<!--<div class="fm-title" style="">专利实施许可合同</div>-->
						<div class="fm-sign">
							<label> 专利名称：</label>
							<input id="u3" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>专利号：</label>
							<input id="u4" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>许可方名称： </label>
							<input id="u5" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>地址：</label>
							<input id="u6" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>代表人： </label>
							<input id="u7" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>被许可方名称：</label>
							<input id="u8" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>代表人:</label>
							<input id="u9" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>合同备案号: </label>
							<input id="u10" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>签订地点:   </label>
							<input id="u11" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>签订日期:  </label>
							<input id="u12" class="input-class fm-input" type="text">
						</div>
						<div class="fm-sign">
							<label>有效期限至: </label>
							<input id="u13" class="input-class fm-input" type="text">
						</div>
					</div>
				</div>
				<div>
					<div class="manage-page">
						<p>鉴于许可方<input id="u14" class="input-class" type="text">拥有发明专利，该专利号为<input id="u15" class="input-class" type="text">，申请日为<input id="u16" class="input-class" type="text">，授权日为<input id="u17" class="input-class" type="text">，专利的有效期为<input id="u18" class="input-class" type="text" value="自申请日起算"></p>
						<p>鉴于被许可方<input id="u19" class="input-class" type="text">对许可方的专利技术有所了解，希望获得许可而实施该专利技术。</p>
						<p>鉴于许可方同意向被许可方授予所请求的许可；</p>
						<p>双方一致同意签订本合同。</p>
						<p>第一条<span>&nbsp;&nbsp;</span>专利许可的方式与范围</p>
						<p>许可方授权被许可方<input id="u20" class="input-class" type="text"> 实施其专利产品，被许可方无权进行再许可，许可方式为：<input id="u21" class="input-class" type="text" value=" 5年独占许可 "></p>
						<p>第二条<span>&nbsp;&nbsp;</span>专利的技术内容</p>
						<p>1、许可方向被许可方提供专利号为<input id="u22" class="input-class" type="text">，专利名称为<input id="u23" class="input-class" type="text">的全部专利文件。 </p>
						<p>第三条<span>&nbsp;&nbsp;</span>使用费以及支付方式</p>
						<p>1、使用费总额<input id="u24" class="input-class" type="text">，采用一次性付清的付款方式，合同生效日支付清。 </p>
						<p>2、上述使用费总额中包括专利实施许可费、部分许可方对专利产品的研究、开发所产生的各种费用。 </p>
						<p>3、被许可方将使用费按上述期限汇至许可方帐号，或以现金方式支付给许可方。 </p>
						<p>第四条<span>&nbsp;&nbsp;</span>被许可方的权利与义务</p>
						<p>1、被许可方制造的专利产品不合格的，或因产品质量问题而造成的一切经济损失、法律责任均由被许可方承担。</p>
						<p>2、在合同有效期内，许可方对合同技术所作的改进应及时通知对方， 被许可方享有继续使用改进后技术直至合同期满的权利。</p>
					</div>
				</div>
				<div>
					<div class="manage-page">
						<p class="wrap">3、被许可方如发现市场有涉嫌侵犯许可方专利权的产品，应及时通知许可方并有义务共同打假。</p>
						<p>第五条<span>&nbsp;&nbsp;</span>违约及索赔</p>
						<p>对许可方：</p>
						<p>1、本合同签订后，许可方不得再实施本合同所述专利产品，如有违约被许可方有权解除合同，要求许可方返还使用费，并支付违约金贰拾万元，但已经签订的合同正在履行中的除外。</p>
						<p>2、本合同签订后，许可方再向被许可方以外的第三方许可该专利技术，被许可方有权终止合同，并要求还使用费。</p>
						<p>对被许可方：</p>
						<p>1、被许可方拒付使用费的，许可方有权解除合同，并要求赔偿其实际损失，并支付违约金<input id="u25" class="input-class" type="text" value="零"></p>
						<p>2、被许可方延期支付使用费的，每逾期<input id="u26" class="input-class" type="text" value="一个月">要支付给许可方违约金<input id="u27" class="input-class" type="text" value="零">；逾期超过<input id="u28" class="input-class" type="text" value="六个月">，许可方有权终止合同，并要求支付违约金<input id="u29" class="input-class" type="text" value="零"></p>
						<p>3、被许可方违反合同规定，进行再许可的，许可方有权要求被许可方停止侵权行为，并赔偿损失，并有权终止合同，同时许可方依法保留向被许可方的侵权行为追究其法律责任的权利。</p>
						<p>第六条<span>&nbsp;&nbsp;</span>侵权的处理</p>
						<p>1、在合同有效期内，如有第三方指控被许可方所实施的许可方的技术侵权，许可方应负一切法律责任；</p>
					</div>
				</div>
				<div>
					<div class="manage-page">
						<p class="wrap">2、合同双方任何一方发现第三方侵犯许可方的专利权时，应及时通知对方，由许可方与侵权方进行交涉，或向人民法院提起诉讼，被许可方应予以协助。</p>
						<p>第七条<span>&nbsp;&nbsp;</span>专利权被撤销和被宣告无效的处理</p>
						<p>1、在合同有效期内，许可方应保持本专利权合法有效。</p>
						<p>2、在合同有效期内，许可方的专利权被宣告无效时，如无明显违反公平原则，且许可方无恶意给被许可方造成损失，则许可方不必向被许可方返还专利使用费。</p>
						<p>3、在合同有效期内，许可方的专利权被宣告无效时，因许可方有意给被许可方造成损失，或明显违反公平原则，许可方应返还全部专利使用费，合同终止。</p>
						<p>第八条<span>&nbsp;&nbsp;</span>不可抗力</p>
						<p>1、发生不以双方意志为转移的不可抗力事件（如火灾，水灾，地震，战争等）妨碍履行本合同义务时，双方当事人应做到：</p>
						<p>（1）采取适当措施减轻损失</p>
						<p>（2）及时通知对方当事人；</p>
						<p>1、发生不以双方意志为转移的不可抗力事件（如火灾，水灾，地震，战争等）妨碍履行本合同义务时，双方当事人应做到：</p>
						<p>2、发生不可抗力事件在<input id="u30" class="input-class" type="text" value="三个月">内，合同延期履行；</p>
						<p>3、发生不可抗力事件，持续时间超过<input id="u31" class="input-class" type="text" value="三个月">，本合同即告终止。</p>
						<p>第九条<span>&nbsp;&nbsp;</span>争议的解决办法</p>
					</div>
				</div>
				<div>
					<div class="manage-page">
						<p class="wrap">1、双方在履行合同中发生争议的，应按合同条款，友好协商，自行解决；</p>
						<p>2、双方不能协商解决争议的，向人民法院起诉；</p>
						<p>第十条<span>&nbsp;&nbsp;</span>合同的生效、变更与终止</p>
						<p>1、本合同自双方签字之日起生效，合同的有效期为<input id="u32" class="input-class" type="text" value="">年；</p>
						<p>2、由于被许可方的原因，致使本合同不能正常履行的，本合同即告终止。</p>
						<p>3、合同期满或终止后，被许可方应停止一切实施本专利的行为，否则许可方有权依法保留向被许可方的侵权行为追究其法律责任的权利。</p>
						<p>第十一条<span>&nbsp;&nbsp;</span>其他</p>
						<p>1、本合同签字生效后，双方不得以任何借口终止该合同。</p>
					</div>
				</div>
				<div>
					<div class="manage-page">
						<p>许可方：</p>
						<p>  </p>
						<p>名称：<input id="u33" class="input-class" type="text" value="" style="width: 150px"></p>
						<p>法人代表：<input id="u34" class="input-class" type="text" value=""></p>
						<p>委托代理人：<input id="u35" class="input-class" type="text" value=""></p>
						<p>联系人：<input id="u36" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>住所（通讯地址）：<input id="u37" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>电话：<input id="u38" class="input-class" type="text" value=""></p>
						<p>开户银行：<input id="u39" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>账号：<input id="u40" class="input-class" type="text" value=""></p>
						<p>邮政编码：<input id="u41" class="input-class" type="text" value=""></p>
						<br>
						<br>
						<p>被许可方：</p>
						<p>  </p>
						<p>名称：<input id="u42" class="input-class" type="text" value="" width="150px" ></p>
						<p>法人代表：<input id="u43" class="input-class" type="text" value=""></p>
						<p>委托代理人：<input id="u44" class="input-class" type="text" value=""></p>
						<p>联系人：<input id="u45" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>住所（通讯地址）：<input id="u46" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>电话：<input id="u47" class="input-class" type="text" value=""></p>
						<p>开户银行：<input id="u48" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>账号：<input id="u49" class="input-class" type="text" value=""></p>
						<p>邮政编码：<input id="u50" class="input-class" type="text" value=""></p>
					</div>
				</div>
				<div>
					<div class="manage-page">
						<p>中介方：</p>
						<p>  </p>
						<p>单位名称：<input id="u51" class="input-class" type="text" value="" width="150px" ></p>
						<p>委托代理人：<input id="u52" class="input-class" type="text" value=""></p>
						<p>联系人：<input id="u53" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>住所（通讯地址）：<input id="u54" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>电话：<input id="u55" class="input-class" type="text" value=""></p>
						<p>开户银行：<input id="u56" class="input-class" type="text" value=""  style="width: 150px"></p>
						<p>账号：<input id="u57" class="input-class" type="text" value=""></p>
						<p>邮政编码：<input id="u58" class="input-class" type="text" value=""></p>
					</div>
				</div>
				<div>
					<div class="manage-page" id="signPage">
						<p class="page-title wrap">
							签字页
						</p>
						<div class="party party-a" style="height: 70%">
							<div style="height: 182px">
							<div class="fm-sign">
								<p class="wrap">(许可方盖章)</p>
								<!--<button class="seal">盖章</button>-->
								<!--<button class="qx-seal">取消</button>-->
							</div>
							<div class="box" style="display: block;margin-top: 0px;margin-bottom: 5px">
								<span class="letter1"></span>
								<span class="letter2"></span>
								<span class="letter3"></span>
								<span class="letter4"></span>
								<span class="letter5"></span>
								<span class="letter6"></span>
								<span class="letter7"></span>
								<span class="letter8"></span>
								<span class="letter9"></span>
								<span class="letter10"></span>
								<span class="letter11"></span>
								<span class="letter12"></span>
								<span class="letter13"></span>
							</div>
							</div>
							<div style="height: 182px">
							<div class="fm-sign">
								<p class="wrap">(许可方法人代表盖章)</p>
								<!--<button class="seal">盖章</button>-->
								<!--<button class="qx-seal">取消</button>-->
							</div>
							<div class="box" style="display: block;margin-top: 0px;margin-bottom: 5px">
								<span class="letter1"></span>
								<span class="letter2"></span>
								<span class="letter3"></span>
								<span class="letter4"></span>
								<span class="letter5"></span>
								<span class="letter6"></span>
								<span class="letter7"></span>
								<span class="letter8"></span>
								<span class="letter9"></span>
								<span class="letter10"></span>
								<span class="letter11"></span>
								<span class="letter12"></span>
								<span class="letter13"></span>
							</div>
							</div>
							<div class="fm-sign">
								<label>签订日期:</label>
								<input id="u59" class="input-class year" type="text" style="width: 25px">年
								<input id="u60" class="input-class date" type="text" style="width: 25px">月
								<input id="u61" class="input-class date" type="text" style="width: 25px">日
							</div>

						</div>
						<div class="party party-b" style="height: 70%">
							<div style="height: 182px">
								<div class="fm-sign">
									<p class="wrap">(被许可方盖章)</p>
									<!--<button class="seal">盖章</button>-->
									<!--<button class="qx-seal">取消</button>-->
								</div>
								<div class="box" style="display: block;margin-top: 0px;margin-bottom: 5px">
									<span class="letter1"></span>
									<span class="letter2"></span>
									<span class="letter3"></span>
									<span class="letter4"></span>
									<span class="letter5"></span>
									<span class="letter6"></span>
									<span class="letter7"></span>
									<span class="letter8"></span>
									<span class="letter9"></span>
									<span class="letter10"></span>
									<span class="letter11"></span>
									<span class="letter12"></span>
									<span class="letter13"></span>
								</div>
							</div>
							<div style="height: 182px">
								<div class="fm-sign">
									<p class="wrap">(被许可方法人代表盖章)</p>
									<!--<button class="seal">盖章</button>-->
									<!--<button class="qx-seal">取消</button>-->
								</div>
								<div class="box" style="display: block;margin-top: 0px;margin-bottom: 5px">
									<span class="letter1"></span>
									<span class="letter2"></span>
									<span class="letter3"></span>
									<span class="letter4"></span>
									<span class="letter5"></span>
									<span class="letter6"></span>
									<span class="letter7"></span>
									<span class="letter8"></span>
									<span class="letter9"></span>
									<span class="letter10"></span>
									<span class="letter11"></span>
									<span class="letter12"></span>
									<span class="letter13"></span>
								</div>
							</div>
							<div class="fm-sign">
								<label>签订日期:</label>
								<input id="u62" class="input-class year" type="text" style="width: 25px">年
								<input id="u63" class="input-class date" type="text" style="width: 25px">月
								<input id="u64" class="input-class date" type="text" style="width: 25px">日
							</div>
						</div>
						<div class="col-md-8" style="margin-left: auto;margin-right: auto">
							<button id="write_done" onclick="done()" class="btn btn-default rippler rippler-inverse confirm_pay" href="#"  style="margin-left: 150px;background: #eadbaa">
								<span><i class="fas fa-check"></i></span>&nbsp;草拟完成
							</button>
							<button id="agree" onclick="agree()" class="btn btn-default rippler rippler-inverse cancel_pay" href="#"  style="background: #eadbaa;display: none;margin-left: 150px">
								<span><i class="fas fa-check"></i></span>&nbsp;同意合同
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<button class="prev-btn"></button>
		<button class="next-btn"></button>
	</div>
	
</div>

<script type="text/javascript" src="/common/jquery.js"></script>
<script type="text/javascript" src="/contract/js/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="/common/jquery-confirm.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        localStorage.setItem("write_or_agree","agree");
        if(localStorage.getItem("write_or_agree")=="agree") {
            alert("yes");
            $("#agree").show();
            $("#write_done").hide();
            var temp = JSON.parse(localStorage.getItem("usage_trade_contract"));
            $("#u1").val(temp.u1);
            $("#u2").val(temp.u2);
            $("#u3").val(temp.u3);
            $("#u4").val(temp.u4);
            $("#u5").val(temp.u5);
            $("#u6").val(temp.u6);
            $("#u7").val(temp.u7);
            $("#u8").val(temp.u8);
            $("#u9").val(temp.u9);
            $("#u10").val(temp.u10);
            $("#u11").val(temp.u11);
            $("#u12").val(temp.u12);
            $("#u13").val(temp.u13);
            $("#u14").val(temp.u14);
            $("#u15").val(temp.u15);
            $("#u16").val(temp.u16);
            $("#u17").val(temp.u17);
            $("#u18").val(temp.u18);
            $("#u19").val(temp.u19);
            $("#u20").val(temp.u20);
            $("#u21").val(temp.u21);
            $("#u22").val(temp.u22);
            $("#u23").val(temp.u23);
            $("#u24").val(temp.u24);
            $("#u25").val(temp.u25);
            $("#u26").val(temp.u26);
            $("#u27").val(temp.u27);
            $("#u28").val(temp.u28);
            $("#u29").val(temp.u29);
            $("#u30").val(temp.u30);
            $("#u31").val(temp.u31);
            $("#u32").val(temp.u32);
            $("#u33").val(temp.u33);
            $("#u34").val(temp.u34);
            $("#u35").val(temp.u35);
            $("#u36").val(temp.u36);
            $("#u37").val(temp.u37);
            $("#u38").val(temp.u38);
            $("#u39").val(temp.u39);
            $("#u40").val(temp.u40);
            $("#u41").val(temp.u41);
            $("#u42").val(temp.u42);
            $("#u43").val(temp.u43);
            $("#u44").val(temp.u44);
            $("#u45").val(temp.u45);
            $("#u46").val(temp.u46);
            $("#u47").val(temp.u47);
            $("#u48").val(temp.u48);
            $("#u49").val(temp.u49);
            $("#u50").val(temp.u50);
            $("#u51").val(temp.u51);
            $("#u52").val(temp.u52);
            $("#u53").val(temp.u53);
            $("#u54").val(temp.u54);
            $("#u55").val(temp.u55);
            $("#u56").val(temp.u56);
            $("#u57").val(temp.u57);
            $("#u58").val(temp.u58);
            $("#u59").val(temp.u59);
            $("#u60").val(temp.u60);
            $("#u61").val(temp.u61);
        }
    });

	function loadApp() {
		$('.flipbook').turn({
			width: 914,
			height: 643,
			elevation: 500,
			gradients: true,
			autoCenter: true

		});
	}
    yepnope({
        test: Modernizr.csstransforms,
        yep: ['/contract/js/turn.js'],
        nope: ['/contract/js/turn.html4.min.js'],
        both: ['/contract/css/basic.css'],
        complete: loadApp
    });

	$(".prev-btn").on("click", function (event) {
		$(".flipbook").turn("previous");
	});
	//上一页按钮
	$(".next-btn").on("click", function (event) {
		$(".flipbook").turn("next");
	});

	$('.seal').on('click', function () {
		var str = '可以自定义公司名称'; //假设公司名称
		var letter = str.split('');
		var o = 7 - Math.floor(letter.length / 2);
		$(this).parent().siblings('.box').children('span').html();
		for (var i = 0; i < letter.length; i++) {
			$(this).parent().siblings('.box').children('span').eq(o + i).html(letter[i]);
		}
		$(this).hide().siblings('.qx-seal').show().parent().siblings('.box').show();
	})
	
	$('.qx-seal').on('click', function () {
		$(this).hide().siblings('.seal').show().parent().siblings('.box').hide();
	})

	$('.disabled').find('input').attr('disabled', 'disabled');
	$('.disabled').find('.seal').attr('disabled', 'disabled');

    function done(){
        $.confirm({
            title: '确认完成草拟合同',
            content: '确认完成后将不可更改 <br> 请仔细核对合同款项',
            confirmButton: '确认草拟完成',
            cancelButton: '取消',
            confirmButtonClass: 'btn-info',
            icon: 'fa fa-question-circle',
            animation: 'rotate',
            closeAnimation: 'right',
            opacity: 0.5,
            confirm: function () {
                $.alert({
                    title: '草拟合同成功!',
                    content: '您已成功草拟此份合同，请耐心等待对方同意',
                    confirmButton: '我知道了',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm: function () {
                        var temp={
                            u1:$("#u1").val(),
                            u2:$("#u2").val(),
                            u3:$("#u3").val(),
                            u4:$("#u4").val(),
                            u5:$("#u5").val(),
                            u6:$("#u6").val(),
                            u7:$("#u7").val(),
                            u8:$("#u8").val(),
                            u9:$("#u9").val(),
                            u10:$("#u10").val(),
                            u11:$("#u11").val(),
                            u12:$("#u12").val(),
                            u13:$("#u13").val(),
                            u14:$("#u14").val(),
                            u15:$("#u15").val(),
                            u16:$("#u16").val(),
                            u17:$("#u17").val(),
                            u18:$("#u18").val(),
                            u19:$("#u19").val(),
                            u20:$("#u20").val(),
                            u21:$("#u21").val(),
                            u22:$("#u22").val(),
                            u23:$("#u23").val(),
                            u24:$("#u24").val(),
                            u25:$("#u25").val(),
                            u26:$("#u26").val(),
                            u27:$("#u27").val(),
                            u28:$("#u28").val(),
                            u29:$("#u29").val(),
                            u30:$("#u30").val(),
                            u31:$("#u31").val(),
                            u32:$("#u32").val(),
                            u33:$("#u33").val(),
                            u34:$("#u34").val(),
                            u35:$("#u35").val(),
                            u36:$("#u36").val(),
                            u37:$("#u37").val(),
                            u38:$("#u38").val(),
                            u39:$("#u39").val(),
                            u40:$("#u40").val(),
                            u41:$("#u41").val(),
                            u42:$("#u42").val(),
                            u43:$("#u43").val(),
                            u44:$("#u44").val(),
                            u45:$("#u45").val(),
                            u46:$("#u46").val(),
                            u47:$("#u47").val(),
                            u48:$("#u48").val(),
                            u49:$("#u49").val(),
                            u50:$("#u50").val(),
                            u51:$("#u51").val(),
                            u52:$("#u52").val(),
                            u53:$("#u53").val(),
                            u54:$("#u54").val(),
                            u55:$("#u55").val(),
                            u56:$("#u56").val(),
                            u57:$("#u57").val(),
                            u58:$("#u58").val(),
                            u59:$("#u59").val(),
                            u60:$("#u60").val(),
                            u61:$("#u61").val()

                        };
                        localStorage.setItem("usage_trade_contract",JSON.stringify(temp));
                    }
                });
            }
        });
    }

    function agree(){
        $.confirm({
            title: '确认同意草拟合同',
            content: '确认同意后将无法返回 <br> 请仔细核对合同款项',
            confirmButton: '确认草拟完成',
            cancelButton: '取消',
            confirmButtonClass: 'btn-info',
            icon: 'fa fa-question-circle',
            animation: 'rotate',
            closeAnimation: 'right',
            opacity: 0.5,
            confirm: function () {
                $.alert({
                    title: '同意合同成功!',
                    content: '您已成功同意此份合同，合约完成',
                    confirmButton: '我知道了',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm:function(){

                    }
                })
            }
        });
    }

</script>
<script type="text/javascript" src="/contract/controller/usage_controller.js"></script>

</body>
</html>